@import "bourbon";
@import "vars.scss";
@import "fonts";
@import "app/libs/bootstrap/scss/bootstrap.scss";

@font-face {
  font-family: 'Proxima Nova Cond';
  src: url('../fonts/proxima-nova-condensed-light-5909a016e3232.eot');
  src: local('☺'), url('../fonts/proxima-nova-condensed-light-5909a016e3232.woff') format('woff'), url('../fonts/proxima-nova-condensed-light-5909a016e3232.ttf') format('truetype'), url('../fonts/proxima-nova-condensed-light-5909a016e3232.svg') format('svg');
  font-weight: 300;
  font-style: normal;
}

body{
  font-family: "Open Sans";
  max-width: 1920px;
  margin: 0 auto;
  background: #232121;
}

header{
  position: relative;
  background: url(../img/mainbg.jpg) center top no-repeat;
  padding-top: 1px;
  min-height: 964px;
  overflow: hidden;
}

.inner{
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
}

div.hamburger{
  position: absolute;
  right: 21px;
  top: 25px;
  color: #222121;
  font-size: 30px;
  font-weight: 400;
  cursor: pointer;
  z-index: 10;
}


.menu{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  opacity: 1;
  visibility: visible;
  transition: .6s all;
  &.hide{
    opacity: 0;
    visibility: hidden;
  }
  li.close{
    color: #ffffff;
    font-size: 36px;
    font-weight: 400;
    width: auto;
    height: auto;
    position: absolute;
    right: 24px;
    top: 21px;
    border: 0;
    opacity: 1;
    transition: .5s all;
    background-color: transparent;
    &:hover{
      color: #a82f0d;
      text-shadow: none;
    }
  }
  li {
    float: left;
    width: 33.333333%;
    height: 482px;
    border-left: 2px solid rgba(255, 255, 255, 0.12);
    border-top: 2px solid rgba(255, 255, 255, 0.12);
    position: relative;
    text-align: center;
    background-color: #0a0a0a;
    background-position: center;
    @media(max-width: 782px){
      height: 50%;
    }
    @media(max-width: 548px){
      width: 100%;
      height: 33.3%;
      float: none;
      border: none;
      border-bottom: 2px solid #272321;
    }
    &:hover {
      a {
        span {
          &:before {
            background-color: #a82f0d;
            transition: .5s all;
          }
        }
      }
    }
    &:nth-child(3n+1) {
      border-left: 0;
    }
    &:nth-child(1), &:nth-child(2), &:nth-child(3) {
      border-top: 0;
    }
    a {
      width: 100%;
      display: block;
      text-align: center;
      height: 120px;
      color: #ffffff;
      font-size: 36px;
      font-weight: 700;
      text-transform: uppercase;
      position: absolute;
      margin: auto;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      @media(max-width: 782px){
        font-size: 25px;
        height: 88px;
      }
      span {
        width: 104px;
        height: 3px;
        background-color: #ffffff;
        display: inline-block;
        line-height: 0;
        @media(max-width: 782px){
          width: 60px;
        }
        &:after {
          display: inline-block;
          content: "";
          width: 0;
          height: 3px;
          background-color: #a82f0d;
          position: relative;
          top: -10px;
          transition: .3s all;
          @media(max-width: 782px){
            top: -6px;
          }
        }
      }
      &:hover {
        span:after {
          width: 100%;
        }
      }
    }
  }
  @media(max-width: 782px) {
    li {
      a span {
        font-size: 24px;
      }
    }

    li.close {
      font-size: 24px;
      top: 5px;
      right: 5px;
    }
  }

  @media(max-width: 548px){
    li,li:nth-child(3n+1){

    }
    li:nth-child(3){

    }
    li:nth-child(1){

    }
    li:nth-child(5){

    }
    li.close{
      width: auto;
      height: auto;
      border: 0;
    }
  }
}

.menu1{
  background-image: url("../img/menu1.png");
  background-repeat: no-repeat;
}

.menu2{
  background-image: url("../img/menu2.png");
  background-repeat: no-repeat;
}

.menu3{
  background-image: url("../img/menu3.png");
  background-repeat: no-repeat;
}

.menu4{
  background-image: url("../img/menu4.png");
  background-repeat: no-repeat;
}

.menu5{
  background-image: url("../img/menu5.png");
  background-repeat: no-repeat;
}

.menu6{
  background-image: url("../img/menu6.png");
  background-repeat: no-repeat;
}


.logo{
  width: 339px;
  height: 208px;
  display: block;
  background: url(../img/logo.png);
  margin: 0 auto;
  margin-top: 96px;
  @media(max-width: 371px){
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
  }
}


.new-lives__container{
  margin-top: 149px;
  position: relative;
  margin-bottom: 50px;
  @media(max-width: 371px){
    margin-top: 75px;
  }
}

.new-live{
  max-width: 380px;
  float: left;
  @media(max-width: 480px){
    max-width: unset;
    img{
      width: 100%;
    }
  }
}

.new-live__img{
  background: #000;
  position: relative;
  cursor: pointer;
  &:hover{
    background: lighten(#000,10);
    &:after{
      border-radius: 30px;
    }
  }
  &:after{
    transition: .4s all;
    width: 52px;
    height: 52px;
    border: 2px solid #ffffff;
    background-color: rgba(255, 255, 255, 0);
    content: "\f04b";
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -26px;
    margin-top: -26px;
    color: #ffffff;
    font-family: "FontAwesome";
    font-size: 30px;
    font-weight: 400;
    line-height: 46px;
    text-align: center;
    padding-left: 5px;
  }
}

.new-live__text{
  color: #c0c0c0;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  padding-top: 17px;
  padding-left: 16px;
  padding-right: 78px;
}


.new-lives__arrow{
  position: absolute;
  top: 50%;
  width: 56px;
  height: 56px;
  background-color: rgba(168, 47, 13, 0);
  border-radius: 100%;
  margin-top: -28px;
  cursor: pointer;
  transition: .4s all;
  &:after{
    width: 39px;
    height: 39px;
    margin: auto;
    background-color: #632613;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: 100%;
    color: #ffffff;
    font-family: "FontAwesome";
    font-size: 25px;
    font-weight: 700;
    line-height: 38px;
    text-transform: uppercase;
    text-align: center;
    transition: .4s all;
  }
  &:hover{
    background-color: rgba(168, 47, 13, 0.6);
    &:after{
      background-color: rgba(168, 47, 13, 0.88);
    }
  }
}

.new-lives__arrow_left{
  left: -79px;
  &:after{
    content: "\f104";
    text-indent: -2px;
  }
}
.new-lives__arrow_right{
  right: -79px;
  &:after{
    content: "\f105";
    text-indent: 2px;
  }
  .fa{
    font-size: 16px;
  }
}


.btn-orange{
  display: block;
  margin: 0 auto;
  width: 180px;
  height: 40px;
  background-color: #a82f0d;
  border-radius: 0;
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  line-height: 21px;
  span,i{
    display: inline-block;
    vertical-align: middle;
  }
  span{
    margin-right: 13px;
  }
  &:hover,&:focus{
    color: #fff;
    background-color: #5d1a08;
    box-shadow: none;
  }
}


.search-block{
  border-top: 6px solid #a82f0d;
  min-height: 114px;
  padding-bottom: 30px;
  background-color: #000000;
}


.search-form{
  margin-top: 38px;
  display: inline-block;
  width: 100%;
  max-width: 488px;
  position: relative;
  input{
    width: 100%;
    border: 0;
    height: 38px;
    background-color: #262626;
    transition: .5s all;
    color: #585858;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    padding-left: 13px;
    padding-right: 60px;
    &:focus{
      outline: 0;
      background-color: lighten(#262626,5);
    }
  }
  button{
    position: absolute;
    right: 0px;
    width: 46px;
    height: 38px;
    background-color: #a82f0d;
    border: 0;
    font-size: 24px;
    outline: 0;
    transition: .3s all;
    cursor: pointer;
    i{
      transition: .3s all;
    }
    &:hover{
      i{
        color: white;
      }
      background-color: #5d1a08;
    }
  }
}

.hash-tag{
  color: #ffffff;
  font-family: Impact;
  font-size: 30px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 80px;
  vertical-align: middle;
  margin-top: 36px;
}

.social{
  display: inline-block;
  vertical-align: middle;
  margin-top: 32px;
}

.social__item{
  width: 46px;
  height: 38px;
  background-color: #464646;
  display: inline-block;
  margin-right: 3px;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  text-align: center;
  line-height: 35px;
  transition: .3s all;
  i{
    color: #000000;
    transition: .3s all;
  }
  &:hover{
    i{
      color: white;
    }
  }
}


.livestream{
  padding-top: 15px;
  padding-bottom: 15px;
  min-height: 54px;
  background-color: #d57d00;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
.watch-live{
  color: #ffffff;
  transition: .5s all;
  span{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-decoration: underline;
  }

  span,i{
    vertical-align: middle;
    display: inline-block;
  }

  i{
    margin-right: 15px;
  }
  &:hover,&:focus{
    color: #fff;
    text-shadow: 1px 1px 0 #000;
  }
}

.social__item_vk{
  &:hover{
    background-color: #0e547d;
  }
}

.social__item_tw{
  &:hover{
    background-color: #0ea8ef;
  }
}

.social__item_fb{
  &:hover{
    background-color: #0b5e9f;
  }
}

.header2{
  height: 110px;
  background-color: #000000;
  position: relative;
  @media(max-width: 991px){
    height: auto;
    padding: 20px 0;
  }
  .hash-tag{
    margin-right: 60px;
    @media(max-width: 991px){
      margin-top: 0;
    }
    @media(max-width: 650px){
      display: block;
      width: 142px;
      margin: 0 auto;
      margin-bottom: 18px;
    }
  }
  .social{
    @media(max-width: 991px){
      margin-top: 0;
    }
    @media(max-width: 650px){

    }
  }
  .search-form{
    margin-top: 32px;
    margin-left: 69px;
    width: 46px;
    height: 38px;
    vertical-align: top;
    @media(max-width: 991px){
      margin-top: 0;
      margin-left: 60px;
    }
    @media(max-width: 650px){
      margin-left: 27px;
    }
  }
}

.media-block{
  display: inline-block;
}

.logo2{
  margin: 39px 0;
  @media(max-width: 991px){
    margin: 0 auto;
    margin-bottom: 18px;
    width: 214px;
  }
  a{
    background-image: url("../img/logo2.png");
    background-repeat: no-repeat;
    width: 214px;
    height: 26px;
    display: inline-block;
  }
}

div.hamburger2{
  position: absolute;
  right: 129px;
  top: 34px;
  color: #ffffff;
  font-size: 30px;
  font-weight: 400;
  cursor: pointer;
  z-index: 10;
  @media(max-width: 1200px){
    right: 15px;
  }
  @media(max-width: 991px){
    top: -24px;
  }
  @media(max-width: 650px){
    top: -54px;
    right: 15px;
  }
  @media(max-width: 450px){
    top: -51px;
    right: 14px;
    font-size: 24px;
  }
}

.media-container{
  @media(max-width: 991px){
    width: 454px;
    margin: 0 auto;
  }
  @media(max-width: 650px){
    width: 220px;
  }
}

.menu2{
  position: absolute;
  width: 100%;
  height: 110px;
  background-color: #000;
  top: 0;
  left: 0;
  margin: 0;
  padding: 31px 0;
  z-index: 100;
  opacity: 1;
  visibility: visible;
  transition: .5s all;
  @media(max-width: 991px){
    height: 100%;
    padding-top: 60px;
  }
  &.hide2{
    left: -100%;
    opacity: 0;
    visibility: hidden;
    transition: 1s all;
  }
  li.close2{
    width: auto;
    height: auto;
    position: absolute;
    right: 91px;
    top: -4px;
    border: 0;
    opacity: 1;
    transition: .2s all;
    color: #ffffff;
    font-size: 30px;
    font-weight: 400;
    cursor: pointer;
    @media(max-width: 1200px){
      right: -23px;
    }
    @media(max-width: 1050px){
      right: -12px;
    }
    @media(max-width: 991px){
      right: 15px;
      top: -50px;
    }
    &:hover{
      color: #a82f0d;
    }
  }
  li{
    float: left;
    margin-left: 18px;
    margin-right: 39px;
    @media(max-width: 1050px){
      margin-right: 28px;
    }
    @media(max-width: 991px){
      float: none;
      margin: 0;
      margin-bottom: 35px;
      text-align: center;
    }
    a{
      color: #ffffff;
      font-family: "Open Sans";
      font-size: 24px;
      font-weight: 400;
      text-transform: uppercase;
      transition: .2s all;
      position: relative;
      &:after{
        position: absolute;
        content: '';
        bottom: -4px;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: #ffffff;
        transition: .3s all;
      }
      &:hover,&:focus{
        color: #a82f0d;
        text-decoration: none;
        &:after{
          background-color: #a82f0d;
        }
      }
    }
  }
}

.header3-content{
  background-image: url("../img/header3-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 362px;
}

.header3__logo{
  width: 391px;
  height: 102px;
  position: relative;
  margin: 0 auto;
  margin-top: 50px;
  @media(max-width: 420px){
    width: 100%;
  }
  a{
    width: 100%;
    height: 102px;
    background-image: url("../img/dwn-logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    span{
      text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.35);
      color: #ffffff;
      font-size: 30px;
      font-weight: 700;
      line-height: 62px;
      @media(max-width: 420px){
        font-size: 24px;
      }
    }
  }
  .text-left{
    position: absolute;
    bottom: -35px;
    left: 40px;
    @media(max-width: 420px){
      left: 18px;
    }
   }
  .text-right{
    position: absolute;
    bottom: -35px;
    right: 15px;
    @media(max-width: 420px){
      right: 13px;
    }
  }
}

.header3__timer{
  width: 269px;
  height: 115px;
  margin: 0 auto;
  margin-top: 55px;
  border-radius: 4px;
  background-color: rgba(185, 185, 185, 0.5);
  text-align: center;
  padding: 5px 0;
  p{
    color: #1b1b1b;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 4px;
  }
  .header3__timer__item{
    display: inline-block;
    vertical-align: top;
    margin: 0 6px;
    p{
      padding-top: 4px;
    }
  }
  .header3__timer__item-block{
    border-radius: 5px;
    background-image: url("../img/flip.png");
    background-position: center;
    width: 68px;
    height: 62px;
    color: rgba(255, 255, 255, 0.8);
    font-family: "Proxima Nova Cond";
    font-size: 49px;
    font-weight: 300;
    line-height: 59px;
    position: relative;
    &:after{
      position: absolute;
      content: '';
      width: 58px;
      height: 2px;
      background-color: #000000;
      top: 25px;
      left: 5px;
    }
  }
}

.bot-mnu{
  width: 100%;
  height: 62px;
  background-color: #000000;
  border-bottom: 5px solid #232121;
  position: relative;
  ul{
    margin: 0;
    transition: 1s all;
    @media(max-width: 1170px){
      left: -116%;
      position: relative;
      top: 0;
      width: 320px;
      height: 100%;
      background-color: black;
      z-index: 99;
      &.active{
        left: -15px;
        transition: .5s all;
      }
    }
    li{
      float: left;
      @media(max-width: 1170px){
        float: none;
        text-align: center;
      }
      a{
        height: 57px;
        display: block;
        color: #ffffff;
        font-size: 24px;
        font-weight: 300;
        text-transform: uppercase;
        transition: .2s all;
        padding: 9px 41px;
        &:hover{
          background-color: #a82f0d;
        }
      }
    }
  }
}

.bot-mnu-active{
  background-color: #a82f0d;
}

.gamb{
  display: none;
  width: 25px;
  position: absolute;
  top: 16px;
  right: 10px;
  z-index: 100;
  @media(max-width: 1170px){
    display: block;
    span {
      transition: .4s all;
    }
    &.active {
      span:first-child {
        transform: rotate(45deg) translateX(6px) translateY(6px);
      }
      span:nth-child(2) {
        transform: rotate(-45deg) translateX(-1px) translateY(0px);
      }
      span:last-child {
        opacity: 0;
      }
    }
  }
  span{
    display: block;
    width: 100%;
    height: 4px;
    margin-bottom: 4px;
    background: #FFFFFF;
  }
}













