@import "bourbon";
@import "vars.scss";

@import "../libs/lightslider/dist/css/lightslider.min.css";
@import "../libs/magnific-popup/dist/magnific-popup.css";

.content{
  min-height: 200px;
  padding-bottom: 137px;
  position: relative;
  overflow: hidden;
  &:after{
    z-index: 1;
    content: "";
    top: 0;
    left: 50%;
    width: 1920px;
    margin-left: -960px;
    position: absolute;
    height: 705px;
    background-color: #000000;
    background-image: linear-gradient(to top, #232121 0%, #000000 100%);
  }
  &:before{
    z-index: 2;
    content: "";
    top: 0;
    left: 50%;
    width: 1920px;
    margin-left: -960px;
    position: absolute;
    height: 1080px;
    background: url(../img/content-bg.png) no-repeat center top;
  }
  .inner{
    z-index: 3;
  }
  .bread-crubms{
    margin-top: 45px;
  }
  .p1-el{
    margin-top: 50px;
  }
}

.live{
  iframe{
    width: 100%;
    height: 640px;
    margin-top: 40px;
    @media(max-width: 850px){
      height: 500px;
    }
    @media (max-width: 650px){
      height: 400px;
    }
    @media (max-width: 450px){
      height: 250px;
    }
  }
}

.tabs{
  justify-content: center;
  border-bottom: 0;
  padding-top: 48px;
  .nav-item{
    &:first-child{
      a{
        border-radius: 24px 0 0 24px;
        border: 2px solid #464646;
        border-right: 1px solid #464646;
        &:after{
          border-radius: 24px 0 0 24px;
        }
      }
    }
    &:last-child{
      a{
        border-radius: 0 24px 24px 0;
        border: 2px solid #464646;
        border-left: 0;
        &:hover,&.active{
          border-right: 2px solid #464646;
        }
        &:after{
          border-radius: 0 24px 24px 0;
        }
      }
    }
    a{
      height: 49px;
      border-top: 2px solid #464646;
      border-bottom: 2px solid #464646;
      border-left: 0;
      border-right: 0;
      background-color: #000000;
      border-radius: 0;
      color: #fff;
      border-right: 1px solid #464646;
      padding: 10px 45px;
      font-size: 18px;
      line-height: 23px;
      &:hover{
        border-top: 2px solid #464646;
        border-bottom: 2px solid #464646;
        border-right: 1px solid #464646;
      }
      &.active{
        border-top: 2px solid #464646;
        border-bottom: 2px solid #464646;
        border-right: 1px solid #464646;
        background: #000;
        position: relative;
        overflow: hidden;
        color: #da532c;
        &:after{
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: rgba(168, 47, 13, 0.24);
          left: 0;
          top: 0;
        }
      }
    }
  }
}

@media(max-width: 620px){
  .tabs .nav-item a{
    padding: 10px 20px;
    font-size: 15px;
  }
}

.relative{
  position: relative;
}
.norelative{
  position: static;
}

.spec-pad{
  @media(max-width: 767px){
    padding-top: 50px;
  }
}

.tabs2{
  position: absolute;
  top: 17px;
  left: 50%;
  margin-left: -260px;
  border-bottom: 0;
  z-index: 2;
  @media(max-width: 767px){
    flex-direction: column;
    margin-left: -110px;
    top: 25px;
  }
  .nav-item{
    background: #240300;
    border-top: 2px solid #464646;
    border-bottom: 2px solid #464646;
    @media(max-width: 767px){
      border-radius: 100px;
      border: 2px solid #464646;
      margin-bottom: 10px;
    }
    &:first-child{
      border-left: 2px solid #464646;
      border-radius: 100px 0 0 100px;
      @media(max-width: 767px){
        border-radius: 100px;
      }
    }
    &:last-child{
      border-right: 2px solid #464646;
      border-radius:  0 100px 100px 0;
      @media(max-width: 767px){
        border-radius: 100px;
      }
    }
    a{
      height: 38px;
      border-radius: 0;
      border: 0;
      font-size: 18px;
      font-weight: 300;
      line-height: 18px;
      padding-left: 25px;
      padding-right: 25px;
      color: #ffffff;
      @media(max-width: 767px){
        padding-left: 50px;
        padding-right: 50px;
      }
      i{
        margin-right: 8px;
      }
      &.active{
        background: transparent;
        color: #db4d25;
      }
    }
  }
}

.tabs2:after, .tabs2:before {
  bottom: 39px;
  left: 106px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  @media(max-width: 767px){
    bottom: 154px;
    left: 30px;
  }
}

.tabs22:after, .tabs22:before{
  left: 277px;
  @media(max-width: 767px){
    bottom: 154px;
    left: 128px;
  }
}


.tabs23:after, .tabs23:before{
  left: 427px;
  @media(max-width: 767px){
    bottom: 154px;
    left: 215px;
  }
}

.tabs2:after {
  border-color: rgba(36, 3, 0, 0);
  border-bottom-color: #240300;
  border-width: 8px;
  margin-left: -8px;
}
.tabs2:before {
  border-color: rgba(69, 69, 69, 0);
  border-bottom-color: #454545;
  border-width: 11px;
  margin-left: -11px;
}


@media(max-width: 620px){
  .tabs2{
    margin-left: -70px;
  }
  .tabs2 .nav-item a{
    font-size: 13px;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 22px;
  }
  .tabs2:after, .tabs2:before{
    left: 30px;
  }
  .tabs22:after, .tabs22:before{
    left: 85px;
  }
  .tabs23:after, .tabs23:before{
    left: 140px;
  }
}


.btn-empty{
  display: block;
  width: 184px;
  height: 48px;
  border-radius: 2px;
  border: 1px solid #828282;
  background-color: rgba(115, 115, 115, 0);
  color: #bababa;
  font-size: 16px;
  font-weight: 400;
  margin: 0 auto;
  position: relative;
  left: -11px;
  line-height: 31px;
  &:hover,&:focus{
    color: #78a126;
    border-color: #78a126;
    box-shadow: none;
  }
}

@media(max-width: 1132px){
  .btn-empty{
    left: 0;
  }
}

.sidebar2{
  padding-top: 50px;
  .feed-back-send{
    margin-top: 30px;
  }
}

.sidebar{
  padding-top: 147px;
}

.sidebar__title{
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  border-bottom: 3px solid #a82f0d;
  padding-bottom: 5px;
  margin-bottom: 0;
}
.sidebar__new{
  padding-top: 33px;
  display: block;
  padding-bottom: 48px;
  background: url(../img/sidebar__new.png) no-repeat center bottom;
  background-size: contain;
  h3{
    line-height: 25px;
    margin-top: 18px;
    font-size: 16px;
    a{
      color: #a82f0d;
      font-weight: 700;
    }
    i{
      color: #a82f0d;
      margin: 0 5px;
      font-size: 14px;
    }
  }
  p{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #d4d4d4;
    margin-top: 20px;
    margin-bottom: 0;
  }
  &:last-child{
    background: none;
  }
}
.sidebar__new__date{
  width: 78px;
  height: 24px;
  background-color: #a82f0d;
  color: #d4d4d4;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  line-height: 22px;
}


.btn-grey{
  display: block;
  height: 48px;
  background-color: #464646;
  border-radius: 0;
  color: #ffffff;
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
  width: 100%;
  span{
    margin-right: 28px;
  }
  i{
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
  }
  &:hover,&:focus{
    color: #fff;
    background-color: #bebebe;
    box-shadow: none;
  }
}

@media(max-width: 994px){
  .btn-grey{
    font-size: 16px;
    span{
      margin-right: 0px;
    }
    i{
      display: none;
    }
  }
}


.subscribe{
  padding-top: 1px;
  max-width: 360px;
  margin: 0 auto;
  margin-top: 40px;
  position: relative;
  img{
    width: 100%;
  }
  input[type=text]{
    position: absolute;
    bottom: 16%;
    left: 50%;
    margin-left: -44%;
    width: 88%;
    height: 48px;
    display: block;
    transition: .5s all;
    border-radius: 2px;
    background-color: rgba(141, 141, 141, 0.71);
    border: 0;
    color: #cfcfcf;
    font-size: 16px;
    font-weight: 300;
    line-height: 18px;
    padding-left: 15px;
    @include placeholder{
      color: #cfcfcf;
    }
    &:focus{
      outline: 0;
      background-color: rgba(141, 141, 141, 0.75);
    }
  }
  input[type=submit]{
    position: absolute;
    bottom: -5%;
    left: 50%;
    margin-left: -44%;
  }
}

@media(max-width: 392px){
  margin-top: 52%;
}


.btn-salat{
  display: block;
  margin: 0 auto;
  width: 88%;
  height: 48px;
  border-radius: 3px;
  background-color: #78a126;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  cursor: pointer;
  margin-top: 17px;
  &:hover,&:focus{
    box-shadow: none;
    background-color: darken(#78a126,10);
  }
}

@media(max-width: 1000px){
  .btn-salat{
    font-size: 16px;
  }
}

@media(max-width: 876px){
  .btn-salat{
    font-size: 15px;
  }
  .subscribe{
    input[type=submit]{
      bottom: -9%;
    }
  }
}

@media(max-width: 814px){
  .btn-salat{
    font-size: 14px;
  }
  .subscribe{
    input[type=submit]{
      bottom: -10%;
    }
  }
}

@media(max-width: 767px){
  .btn-salat{
    font-size: 15px;
  }
  .subscribe{
    input[type=submit]{
      bottom: -8%;
    }
  }
}


footer{
  min-height: 332px;
  background-color: #464646;
  background-image: linear-gradient(to top, #232121 0%, #000000 100%);
  .inner{
    padding-left: 25%;
    padding-bottom: 44px;
    &:after{
      position: absolute;
      content: "";
      width: 535px;
      height: 419px;
      background: url(../img/footer.png);
      left: -70px;
      bottom: 0;
    }
  }
}

.partners{
  margin-top: 48px;
  text-align: center;
}
.partner{
  display: inline-block;
  vertical-align: middle;
  margin: 0 4%;
  margin-bottom: 20px;
}



.btn-salat.btn-big{
  width: 100%;
  margin: 0 auto;
  display: block;
  max-width: 434px;
  height: 58px;
  border-radius: 5px;
  font-size: 24px;
  margin-top: 31px;
  line-height: 37px;
  background: #79a221;
  &:hover,&:focus{
    color: #fff;
  }
}


.footer-btns{
  width: 100%;
  max-width: 434px;
  margin: 0 auto;
  margin-top: 31px;
}

.btn-grey.btn-small{
  height: 36px;
  width: auto;
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  line-height: 18px;
}

@media(max-width: 1160px){
  .partners{
    text-align: center;
  }
}


@media(max-width: 860px){
  footer{
    .inner{
      padding-left: 0;
      &:after{
        display: none;
      }
    }
  }
}

@media(max-width: 410px){
  .btn-salat.btn-big{
    font-size: 17px;
  }
  .btn-grey.btn-small{
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.popup{
  width: 100%;
  margin: 0 auto;
  max-width: 429px;
  h2{
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    line-height: 62px;
    padding-left: 25px;
    text-transform: uppercase;
    background-color: #78a126;
    height: 71px;
    @media(max-width: 400px){
      font-size: 14px;
    }
  }
  .modal-dialog{
    border: 1px solid #78a126;
    background-color: #000000;
    top: 50%;
    margin-top: -163px;
  }
  label{
    width: 100%;
    margin-bottom: 25px;
    span{
      min-width: 21%;
      color: #ffffff;
      font-size: 18px;
      font-weight: 300;
      line-height: 24px;
      display: inline-block;
      @media(max-width: 400px){
        font-size: 16px;
      }
    }
    input{
      width: 79%;
      border: 0;
      height: 42px;
      background-color: #282727;
      outline: 0;
      color: #fff;
      padding-left: 20px;
      &:focus{
        background-color: darken(#282727,5);
      }
    }
  }
  .btn-salat{
    max-width: 216px;
    height: 45px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
  }
}

.modal-dialog_mod{
  padding: 25px;
}

.popup-close{
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  background: none;
  position: absolute;
  right: 15px;
  top: 15px;
  border: 0;
  outline: 0;
  transition: .5s all;
  cursor: pointer;
  @media(max-width: 400px){
    top: 16px;
    right: 5px;
  }
  &:hover,&:focus{
    outline: 0;
    transform: rotate(90deg);
  }
}


@media(max-width: 384px){
  .popup{
    label{
      span{
        min-width: 21%;
      }
    }
  }
}

.elemets-bg{
  background-color: #232121;
  width: 100%;
  height: 1000px;
  padding-top: 26px;
  .new-live__img{
    display: block;
    width: 100px;
    height: 52px;
    margin: 12px 0;
    margin-bottom: 20px;
    background-color: transparent;
  }
  .new-lives__arrow{
    display: block;
    position: relative;
    left: 0;
    margin: 0 21px;
  }
  .btn-orange{
    margin: 35px 20px;
    margin-bottom: 0;
  }
  .search-form{
    margin: 35px 19px;
  }
  .social{
    display: block;
    margin: 35px 20px;
    margin-top: 0;
  }
  .tabs{
    width: 526px;
    margin: 18px 0;
    padding-top: 0;
  }
  .tabs2{
    position: relative;
    margin: 0;
    margin-bottom: 55px;
    left: 0;
  }
  .btn-grey{
    width: 335px;
    margin-bottom: 35px;
  }
  .subscribe{
    margin: 0;
    margin-bottom: 35px;
    input[type=text]{
      position: static;
      left: 0;
      margin: 10px 0;
    }
    input[type=submit]{
      position: static;
      left: 0;
      margin: 10px 0;
    }
  }
  .btn-empty{
    left: 0;
    margin: 0;
    margin-bottom: 35px;
  }
  .question-btn{
    margin-bottom: 31px;
  }
  .fade{
    opacity: 1;
  }
  .popup{
    margin: 0;
  }
  .block-feedback{
    margin: 30px 0;
    margin-bottom: 10px;
  }
}

.h2-elements{
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 36px;
  font-weight: 400;
  position: relative;
  display: block;
  height: 60px;
  text-transform: uppercase;
  margin-top: 30px;
  &:after{
    position: absolute;
    content: '';
    width: 1170px;
    height: 2px;
    background-color: white;
    left: -26px;
    bottom: 0;
  }
}

.p-elements{
  color: #969595;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  padding: 8px 0;
  margin: 0;
}

.block-ty{
  width: 429px;
  height: 124px;
  border: 1px solid #78a126;
  background-color: #000000;
  padding: 36px 0;
  .p-ty{
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
    span{
      font-weight: 700;
    }
  }
}

.btn-feedback{
  width: 81px;
  height: 32px;
  border-radius: 2px;
  background-color: #1a1717;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding: 1px 0;
  margin: 0 5px;
  span{
    font-weight: 400!important;
  }
  i{
    font-size: 24px;
    padding-right: 5px;
  }
}

.btn-like{
  color: #78a126;
  &:hover,&:focus{
    color: #78a126;
    background-color: rgba(120, 161, 38, 0.2);
    box-shadow: none;
  }
}

.btn-dis{
  color: #a82f0d;
  &:hover,&:focus{
    color: #a82f0d;
    background-color: rgba(168, 47, 13, 0.2);
    box-shadow: none;
  }
}

.btn-likes{
  width: 68px;
  height: 26px;
  border-radius: 2px;
  background-color: #464646;
  color: white;
  padding: 3px 0;
  margin: 0 8px;
  &:hover,&:focus{
    color: white;
    box-shadow: none;
  }
  i{
    font-size: 18px;
    font-weight: 400;
    padding-right: 10px;
  }
  span{
    font-size: 14px;
    font-weight: 400;
  }
}

.btn-likes_vk{
  &:hover{
    background-color: #2b689c;
  }
}

.btn-likes_fb{
  &:hover{
    background-color: #24519b;
  }
}

.btn-likes_tw{
  &:hover{
    background-color: #14afe6;
  }
}

.btn-refresh{
  i{
    font-size: 18px;
    font-weight: 400;
    color: #cacaca;
  }
}

.block-views{
  margin-top: 15px;
}

.block-views__item{
  display: inline-block;
  color: #919191;
  margin: 0 20px;
  @media(max-width: 600px){
    margin: 0 8px;
  }
  i{
    font-size: 24px;
    font-weight: 400;
    vertical-align: top;
    padding-right: 8px;
  }
  span{
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    vertical-align: top;
  }
}


.bread-crubms{
  .bread-crubms-multi{
    display: none;
  }
}

.bread-crubms:hover{
  .bread-crubms-main{
    display: none;
  }
  .bread-crubms-multi{
    display: block;
  }
}

.bread-crubms-multi{
  margin: 5px 0;
  .bread-crubms-single{
    display: block;
    float: left;
    width: auto;
    border-radius: 0;
    &:after{
      display: none;
    }
    i{
      position: static;
    }
    span{
      padding-right: 11px;
    }
  }
}

.bread-crubms-single{
  width: 83px;
  height: 26px;
  border-radius: 2px 0 0 2px;
  background-color: #d57d00;
  color: white;
  position: relative;
  display: inline-block;
  line-height: 24px;
  &:hover,&:focus{
    color: white;
  }
  &:after{
    position: absolute;
    content: '';
    border: 13px solid transparent;
    border-left: 13px solid #d57d00;
    right: -26px;
    top: 0;
  }
  i{
    vertical-align: top;
    font-size: 24px;
    font-weight: 400;
    position: absolute;
    top: 0;
    right: -6px;
    z-index: 1;
  }
  span{
    vertical-align: top;
    font-size: 14px;
    font-weight: 400;
    padding-left: 8px;
  }
}

.question{
  width: 434px;
  height: 125px;
  margin-bottom: 35px;
}

.question-btn{
  width: 100%;
  height: 58px;
  border-radius: 5px;
  background-color: #78a126;
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  line-height: 38px;
  &:hover,&:focus{
    background-color: #5e7e1d;
    color: #ffffff;
    box-shadow: none;
  }
}

.question-btn-grey{
  background-color: #464646;
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  line-height: 17px;
  border-radius: 0;
  height: 36px;
  &:hover,&:focus{
    color: #ffffff;
    background-color: #7e7e7e;
  }
}

.block-likes{
  margin: 15px 0;
}

.btn-refresh{
  width: 21px;
  padding: 0;
}

.p1-el{
  color: #a82f0d;
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
  text-transform: uppercase;
}

.hash-t{
  display: block;
  margin-top: 15px;
  @media(max-width: 600px){
    margin-left: 10px;
  }
  a{
    color: #b2b2b2;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    padding-right: 5px;
  }
}

div.video-float{
  @media(max-width: 600px){
    float: none;
  }
}

.feed-back-item{
  position: relative;
  color: #cccccc;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 55px;
  &:after{
    position: absolute;
    content: '';
    left: 0;
    bottom: -22px;
    width: 80%;
    height: 1px;
    background-color: #5e5e5e;
    @media(max-width: 1050px){
      width: 72%;
    }
    @media(max-width: 550px){
      width: 45%;
    }
  }
  span{
    font-weight: 700;
    margin-right: 4px;
  }
  a.a-comment{
    position: absolute;
    bottom: -30px;
    right: 22px;
    color: #919191;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    text-decoration: underline;
    &:hover{
      color: #a82f0d;
      text-decoration: underline;
    }
  }
}

.feed-back-item_mod{
  position: relative;
  margin-top: 80px;
  .block-feedback{
    position: absolute;
    top: -7px;
    right: 0;
    @media(max-width: 360px){
      position: static;
      margin-bottom: 15px;
      .btn-feedback{
        margin: 0;
        margin-right: 10px;
      }
    }
  }
  &:after{
    width: 100%;
    background-color: transparent;
    border-bottom: 1px dotted #a59ba8;
  }
  p{
    color: #9c9c9c;
  }
  p.feed-mod{
    color: #d4d4d4;
  }
}

.feed-back-item-comment{
  margin-left: 40px;
}

.feed-back-date{
  color: #919191;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  top: -1px;
  right: 22px;
}

.time-line{
  width: 100%;
  height: auto;
  background-color: #070606;
  position: absolute;
  top: 80px;
  left: 0;
  z-index: 1;
  display: none;
  &.active{
    display: block;
  }
  @media(max-width: 458px){
    top: 100px;
  }
  ul{
    display: inline-block;
    vertical-align: top;
    margin-top: 15px;
    margin-left: 25px;
    li{
      font-size: 14px;
      font-weight: 400;
      line-height: 30px;
      color: #b2b2b2;
      a{
        font-size: 14px;
        font-weight: 400;
        line-height: 30px;
        color: #a82f0d;
        margin-left: 10px;
        &:hover{
          color: #a82f0d;
          text-decoration: underline;
        }
        &:focus{
          color: #a82f0d;
          text-decoration: none;
        }
      }
    }
  }
}

.published{
  margin-top: 25px;
  position: relative;
  p{
    color: #d1d1d1;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    margin: 0;
    span{
      font-weight: 700;
    }
  }
  .a-time-line{
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #d1d1d1;
    margin-left: 15px;
    cursor: pointer;
    &:hover,&:focus{
      color: darken(#d1d1d1, 20);
    }
  }
}

.btn-grn{
  width: 162px;
  height: 50px;
  border-radius: 1px;
  background-color: #78a126;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  &:hover,&:focus{
    background-color: #5e7f17;
  }
}

.feed-back-send{
  margin-top: 70px;
  @media(max-width: 900px){
    .captcha-content{
      display: block;
      margin: 0 auto;
      margin-top: 20px;
    }
    .captcha-text{
      display: block;
      margin: 0 auto;
      margin-top: 20px;
    }
    .btn-grn{
      display: block;
      margin: 0 auto;
    }
    div.captcha-btn{
      float: none;
    }
  }
  @media(max-width: 767px){
    margin-top: 35px;
  }
  .btn-grn{
    vertical-align: top;
    margin-top: 20px;
  }
  span{
    color: #d4d4d4;
    font-size: 16px;
    font-weight: 400;
  }
  input{
    border: none;
    border-bottom: 1px solid #4b4b4b;
    background-color: transparent;
    margin-left: 10px;
    color: #d4d4d4;
    height: 20px;
    &:focus{
      outline: none;
    }
  }
  textarea{
    width: 100%;
    height: 143px;
    border-radius: 2px;
    border: 1px solid #4b4b4b;
    background-color: #070606;
    resize: none;
    color: #d4d4d4;
    padding: 5px 8px;
    margin-top: 30px;
    &:focus{
      outline: none;
    }
  }
}

.captcha{
  margin-top: 20px;
  display: inline-block;
  @media(max-width: 900px){
    margin: 0 auto;
    width: 210px;
    display: block;
  }
}

.captcha-content{
  background-image: url("../img/captcha.png");
  background-repeat: no-repeat;
  display: inline-block;
  width: 179px;
  height: 49px;
}

textarea.captcha-text{
  width: 210px;
  height: 50px;
  border-radius: 2px;
  border: 1px solid #4b4b4b;
  background-color: #070606;
  margin-left: 10px;
  margin-top: 0;
  font-size: 25px;
}

a.mnu-arrow-left{
  position: absolute;
  top: 50%;
  margin-top: -12px;
  left: 20px;
  color: #cccccc;
  font-size: 24px;
  font-weight: 400;
  &:hover,&:focus{
    color: darken(#cccccc, 20);
    text-decoration: none;
  }
}

a.mnu-arrow-right{
  position: absolute;
  top: 50%;
  margin-top: -12px;
  right: 20px;
  color: #cccccc;
  font-size: 24px;
  font-weight: 400;
  &:hover,&:focus{
    color: darken(#cccccc, 20);
    text-decoration: none;
  }
}

.mnu-nmbr{
  width: 100%;
  height: 51px;
  border-radius: 5px;
  background-color: #131212;
  position: relative;
  margin-top: 125px;
  padding: 6px 0;
  ul{
    width: 39%;
    height: 45px;
    overflow: hidden;
    margin: 0 auto;
    li{
      float: left;
      margin: 0 14px;
      a{
        font-size: 24px;
        color: #aeaeae;
        font-weight: 400;
        &:hover,&:focus{
          color: darken(#aeaeae, 20);
        }
      }
    }
  }
}

.nmbr-active{
  position: relative;
  &:after{
    position: absolute;
    content: '';
    bottom: -9px;
    left: -10px;
    width: 250%;
    height: 3px;
    border-radius: 1px;
    background-color: #a82f0d;
  }
  a{
    color: #a82f0d!important;
    &:hover,&:focus{
      color: #a82f0d;
    }
  }
}

.h1-fest{
  margin: 0;
  margin-top: 60px;
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
}

.sort{
  margin-top: 35px;
  span{
    color: #d4d4d4;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
  }
  .btn-grn-mod{
    float: right;
    @media(max-width: 1100px){
      float: none;
      display: block;
      width: 194px;
      margin: 25px 0;
    }
  }
}

.sort__item{
  display: inline-block;
  vertical-align: top;
  position: relative;
  padding-left: 30px;
  margin-left: 40px;
  @media(max-width: 1100px){
    margin-left: 30px;
  }
  @media(max-width: 500px){
    display: block;
    margin-left: 0;
    margin-top: 10px;
  }
  a{
    color: #d4d4d4;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    transition: .2s all;
    overflow: hidden;
    &:hover,&:focus{
      text-decoration: none;
      color: darken(#d4d4d4, 20);
    }
  }
  .a-sort{
    color: #d4d4d4;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    border-bottom: 1px dotted #d4d4d4;
  }
  .sort__item-top{
    position: absolute;
    top: 3px;
    left: 0;
    height: 14px;
    z-index: 1;
  }
  .sort__item-bot{
    position: absolute;
    bottom: -3px;
    left: 0;
  }
}

.btn-grn-mod{
  height: 38px;
  border-radius: 2px;
  background-color: #78a126;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  padding: 2px 14px;
  span{
    color: #ffffff;
    font-weight: 400;
  }
  &:hover,&:focus{
    text-decoration: none;
    background-color: #5e7e1d;
    color: #ffffff;
    i{
      color: #ffffff;
    }
    span{
      color: #ffffff;
    }
  }
  i{
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    margin-right: 10px;
  }
}

.stat-item{
  height: 173px;
  width: 100%;
  display: block;
  position: relative;
  transition: .5s all;
  background-position: center;
  p{
    color: #a82f0d;
    font-size: 36px;
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;
    margin-top: 74px;
    margin-left: 30px;
    @media(max-width: 550px){
      font-size: 30px;
      margin-top: 77px;
      margin-left: 12px;
    }
    @media(max-width: 400px){
      font-size: 25px;
    }
    @media(max-width: 360px){
      font-size: 21px;
    }
    span{
      color: #ffffff;
      margin-right: 20px;
    }
  }
  &:after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
  }
  &:hover{
    transform: scale(0.9);
  }
  i{
    margin-top: 50px;
    margin-left: 30px;
    @media(max-width: 550px){
      margin-left: 10px;
      margin-top: 68px;
      background-size: contain;
      background-repeat: no-repeat;
      width: 52px;
      height: 40px;
    }
  }
}

.stat-item-1{
  background-image: url("../img/group.png");
  background-repeat: no-repeat;
  margin-top: 33px;
}

.stat-item-2{
  background-image: url("../img/songs.png");
  background-repeat: no-repeat;
}

.stat-item-3{
  background-image: url("../img/hours.png");
  background-repeat: no-repeat;
}

.stat-item-4{
  background-image: url("../img/public.png");
  background-repeat: no-repeat;
}

.stream-video{
  iframe{
    width: 100%;
    height: 438px;
    @media(max-width: 550px){
      height: 300px;
    }
    @media(max-width: 400px){
      height: 200px;
    }
  }
}

.stream-comments{
  img{
    width: 100%;
    height: 438px;
    @media(max-width: 550px){
      height: 300px;
    }
    @media(max-width: 400px){
      height: 200px;
    }
  }
}

.stream{
  .p1-el{
    margin-bottom: 50px;
  }
  .block-likes{
    margin: 0;
    margin-top: 30px;
    @media(max-width: 767px){
      margin-bottom: 38px;
    }
  }
  .feed-back-send{
    margin-top: 35px;
  }
  .sidebar{
    padding-top: 0;
    @media(max-width: 767px){
      padding-top: 100px;
    }
  }
}

.same{
  .rock {
    padding-top: 33px;
  }
  .mnu-nmbr {
    margin-top: 50px;
    margin-bottom: 120px;
    @media(max-width: 767px){
      margin-bottom: 60px;
    }
  }
}

.tickets-block{
  width: 100%;
  height: auto;
  background-color: #202020;
  padding: 10px 0;
  margin-top: 30px;
  p{
    color: #d4d4d4;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    display: inline-block;
    vertical-align: top;
    width: 71%;
    margin-left: 20px;
    margin-bottom: 0;
    @media(max-width: 1170px){
      width: 60%;
    }
    @media(max-width: 850px){
      width: 50%;
    }
    @media(max-width: 550px){
      display: block;
      width: 95%;
      margin: 20px auto;
      text-align: center;
    }
  }
  img{
    display: inline-block;
    vertical-align: top;
    width: 170px;
    height: 143px;
    margin-top: 25px;
    margin-left: 20px;
    @media(max-width: 550px){
      display: block;
      margin: 20px auto;
    }
  }
}

.tickets-item{
  width: 100%;
  position: relative;
  margin-top: 40px;
  &:after{
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background-color: #4b4b4b;
    left: 0;
    bottom: 0;
  }
  h5{
    color: #a82f0d;
    font-size: 24px;
    font-weight: 700;
    margin: 25px 0;
    text-transform: uppercase;
  }
  p{
    a{
      margin-left: 10px;
    }
  }
}

.p-item-1{
  color: #d4d4d4;
  font-size: 18px;
  font-weight: 700;
}
.p-item-2{
  color: #d4d4d4;
  font-size: 18px;
  font-weight: 400;
}

.a-item-1{
  color: #a82f0d;
  font-weight: 400;
  text-decoration: underline;
  &:hover,&:focus{
    color: #d4d4d4;
    text-decoration: underline;
  }
}

.a-item-2{
  color: #d4d4d4;
  font-weight: 400;
  text-decoration: underline;
  &:hover,&:focus{
    color: #a82f0d;
    text-decoration: underline;
  }
}

.tickets-item_block{
  display: inline-block;
  vertical-align: top;
  margin-right: 100px;
  margin-bottom: 30px;
  @media(max-width: 1170px){
    margin-right: 50px;
  }
}

.tickets-item_mod{
  h5{
    color: #b1b1b1;
  }
  h6{
    line-height: 30px;
    text-transform: uppercase;
    color: #a82f0d;
    font-size: 18px;
    font-weight: 700;
  }
  .tickets-item_block{
    margin-right: 50px;
  }
  h4{
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    width: 102%;
    height: 32px;
    background-color: rgba(168, 47, 13, 0.3);
    margin-left: -15px;
    margin-bottom: 30px;
    padding-left: 15px;
    @media(max-width: 550px){
      width: 103%;
    }
  }
}

.p-line{
  line-height: 30px;
  text-transform: uppercase;
  color: #b1b1b1;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

.lineup-item{
  width: 338px;
  height: 293px;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 60px auto;
  position: relative;
  @media(max-width: 1170px){
    width: 100%;
  }
  @media(max-width: 767px){
    width: 338px;
  }
  @media(max-width: 370px){
    width: 100%;
  }
  &:after{
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background-color: transparent;
    transition: .5s all;
  }
  &:hover{
    &:after{
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
}

.lineup-item1{
  background-image: url("../img/lineup1.png");
}

.lineup-item2{
  background-image: url("../img/lineup2.png");
}

.lineup-item3{
  background-image: url("../img/lineup3.png");
}

.lineup-item__block{
  position: absolute;
  top: 0;
  left: 0;
  width: 105px;
  height: 38px;
  background-color: #a82f0d;
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  line-height: 37px;
  text-align: center;
  text-transform: uppercase;
}

.lineup-item__block_mod{
  background-color: #d57d00;
}

.content-1{
  color: #ffffff;
  font-size: 30px;
  font-weight: 600;
  line-height: 24px;
  text-transform: uppercase;
}

.content-2{

}

.content-3{
  color: #a82f0d;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  text-transform: uppercase;
}

.info-content{
  background-image: url("../img/bg-black.png");
  background-repeat: no-repeat;
  height: auto;
  padding-bottom: 35px;
  @media(max-width: 991px){
    padding-bottom: 0;
  }
  .bread-crubms{
    margin: 35px 0;
  }
  .p1-el{
    margin-bottom: 50px;
  }
  .img-dwn{
    width: 100%;
    height: 424px;
    @media(max-width: 991px){
      width: 360px;
      display: block;
      margin: 0 auto;
    }
    @media(max-width: 400px){
      width: 100%;
    }
  }
}

.motiv{
  height: auto;
  padding: 35px 0;
  background-color: #363333;
  line-height: 30px;
  iframe{
    width: 100%;
    height: 359px;
    @media(max-width: 450px){
      height: 260px;
    }
  }
  h3{
    color: #d4d4d4;
    font-size: 24px;
    font-weight: 700;
    margin-top: 25px;
    @media(max-width: 980px){
      margin-top: 0;
    }
  }
  p{
    color: #d4d4d4;
    font-size: 16px;
    font-weight: 400;
    span{
      color: #d4d4d4;
      font-size: 16px;
      font-weight: 700;
    }
  }
  .a-item-1{
    font-weight: 700;
    margin-left: 10px;
  }
}

.h3-place{
  line-height: 30px;
  color: #a82f0d;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 35px;
}

.p-place{
  line-height: 30px;
  color: #d4d4d4;
  font-size: 16px;
  font-weight: 400;
  margin-top: 20px;
}

.place{
  padding-bottom: 100px;
  .img-place{
    width: 100%;
    height: 451px;
    @media(max-width: 500px){
      height: 240px;
    }
  }
}

.mnu-info{
  display: inline-block;
  vertical-align: top;
  margin-right: 74px;
  @media(max-width: 1170px){
    margin-right: 5%;
  }
  @media(max-width: 991px){
    margin: 20px 2%;
  }
  li{
    color: #b4b4b4;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
  }
}

.h4-info{
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 30px;
  @media(max-width: 991px){
    margin-bottom: 15px;
  }
}

.info-block{
  @media(max-width: 991px){
    text-align: center;
    margin: 35px 0;
  }
}

.news{
  .sidebar__new{
    background: no-repeat;
    padding-bottom: 20px;
  }
  .mnu-nmbr{
    width: 747px;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 25px;
    @media(max-width: 860px){
      margin-bottom: 0;
    }
    @media(max-width: 800px){
      width: 100%;
    }
  }
}

.group{
  .rock{
    position: relative;
    padding-bottom: 70px;
  }
  .img-group{
    width: 100%;
  }
  .rock {
    padding-top: 50px;
  }
}

.group-block{
  margin-top: 65px;
  position: relative;
  padding-bottom: 30px;
  &:after{
    position: absolute;
    content: '';
    bottom: 0;
    left: 15px;
    width: 98%;
    height: 1px;
    background-color: #5e5e5e;
    @media(max-width: 1170px){
      width: 95%;
    }
  }
}

.group-item{
  @media(max-width: 767px){
    margin-top: 30px;
  }
  p{
    font-size: 16px;
    line-height: 30px;
    color: #d1d1d1;
    font-weight: 400;
  }
  .p-motiv{
    color: #d8d8d8;
    font-weight: 700;
    a{
      margin-left: 10px;
    }
  }
  .hash-t{
    margin-top: 90px;
    margin-left: 0;
    @media(max-width: 1170px){
      margin-top: 20px;
    }
  }
}

.group-op{
  p{
    font-size: 16px;
    line-height: 30px;
    color: #d1d1d1;
    font-weight: 400;
    margin: 0;
    span{
      color: #a82f0d;
      font-weight: 700;
      margin-right: 8px;
    }
  }
}

.group-info{
  margin-top: 40px;
  margin-bottom: 40px;
}

.group-info-item{
  display: inline-block;
  vertical-align: top;
  width: 183px;
  margin-right: 65px;
  @media(max-width: 1170px){
    margin-right: 25px;
  }
  h4{
    font-size: 16px;
    line-height: 30px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    margin: 25px 0;
  }
  ul{
    h5{
      color: #a82f0d;
      font-weight: 700;
      font-size: 16px;
      line-height: 30px;
      margin: 0;
    }
    li{
      a{
        font-size: 16px;
        line-height: 30px;
        color: #d1d1d1;
        font-weight: 400;
        text-decoration: underline;
        &:hover,&:focus{
          color: #a82f0d;
          text-decoration: underline;
        }
      }
    }
  }
}

.group-live{
  color: #d4d4d4;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  border-bottom: 2px solid #d4d4d4;
  display: inline-block;
  position: absolute;
  bottom: 50px;
  right: 15px;
  span{
    margin-right: 10px;
    transition: .5s all;
  }
  i{
    color: #d4d4d4;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
  }
  &:hover,&:focus{
    color: #d4d4d4;
    span{
      margin-right: 20px;
    }
  }
}

.fest{
  .rock {
    padding-top: 70px;
  }
}

.detail-header-item{
  display: inline-block;
  vertical-align: top;
}

.detail-header-item-left{
  width: 127px;
  height: 40px;
  background-color: #a82f0d;
  color: #d4d4d4;
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
  text-align: center;
  margin-right: 75px;
}

.detail-header-item-right{
  a{
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    &:hover,&:focus{
      color: #ffffff;
    }
  }
}

.detail-header{
  margin: 40px 0;
}

.img-detail{
  display: block;
  margin: 0 auto;
  width: 750px;
  height: 223px;
  @media(max-width: 800px){
    width: 100%;
    height: auto;
  }
}

.detail{
  .hash-t{
    display: block;
    width: 225px;
    margin: 20px auto;
    a{
      color: #a82f0d;
    }
  }
  p{
    color: #d4d4d4;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
  }
  .block-likes {
    margin: 35px auto;
    width: 273px;
  }
}

.p-detail{
  text-align: center;
  padding: 0 87px;
  @media(max-width: 1170px){
    padding: 0;
  }
}

.detail-content{
  width: 750px;
  margin: 0 auto;
  @media(max-width: 800px){
    width: 100%;
  }
  .feed-back-date{
    top: 4px;
  }
}

.content-mod{
  &:before{
    background: url(../img/bg-black.png) no-repeat center top;
  }
}
















//ALWAYS END
@import "media.scss";
@import "sketches.scss";