ul.menu2.hide2.clearfix
    .inner
        li
            a(href="#") ФЕСТИВАЛИ
        li
            a(href="#") ГРУППЫ
        li
            a(href="#") лайвы
        li
            a(href="#") НОВОСТИ
        li
            a(href="#") клипы
        li
            a(href="#") контакты
        li.close2
            i.fa.fa-times
.header2
    .inner
        .container-fluid
            .row
                .col-lg-5.col-md-12
                    .logo2
                        a(href="#")
                .col-lg-7.col-md-12
                    .media-container
                        .hash-tag #ROCKISOK
                        .media-block
                            .social
                                a.social__item.social__item_vk(href="#")
                                    i.fa.fa-vk
                                a.social__item.social__item_tw(href="#")
                                    i.fa.fa-twitter
                                a.social__item.social__item_fb(href="#")
                                    i.fa.fa-facebook
                            .search-form
                                button
                                    i.fa.fa-search
                        .hamburger2.fa.fa-bars
.livestream
    .inner
        .container-fluid
            .row
                .col-md-7 Сейчас идет прямая трансляция фестиваля ROCK AM RING! НЕ ПРОПУСТИ!
                .col-md-5
                    a.watch-live(href="#")
                        i.fa.fa-chevron-circle-right
                        span  Смотреть LIVE
.header3-content
    .inner
        .container-fluid
            .row
                .col-md-12
                    .header3__logo
                        a(href="#")
                            .text-left
                                span 2016
                            .text-right
                                span 10-12 ИЮНЯ
            .row
                .col-md-12
                    .header3__timer
                        p Осталось дней до фестиваля
                        .header3__timer__item
                            .header3__timer__item-block.days
                                |10
                            p дни
                        .header3__timer__item
                            .header3__timer__item-block.hours
                                |24
                            p часы
                        .header3__timer__item
                            .header3__timer__item-block.minutes
                                |00
                            p минуты
.bot-mnu
    .inner
        .container-fluid
            .row
                .col-md-12
                    .gamb
                        span
                        span
                        span
                    ul.clearfix
                        li
                            a(href="#") Line up
                        li
                            a(href="#") Информация
                        li
                            a(href="#") билеты
                        li
                            a.bot-mnu-active(href="#") ОТЗЫВЫ
                        li
                            a(href="#") лайвы
                        li
                            a(href="#") Похожие

