ul.menu.hide
   li.menu1
     a(href="#")
       span
       div Фестивали
   li.menu2
     a(href="#")
       span
       div Группы
   li.menu3
     a(href="#")
       span
       div Лайвы
   li.menu4
     a(href="#")
       span
       div Новости
   li.menu5
     a(href="#")
       span
       div Клипы
   li.menu6
     a(href="#")
       span
       div Контакты
   li.close
     i.fa.fa-times
 header
   .inner
     .hamburger.fa.fa-bars
     .container-fluid
       .row
         .col-md-12
           a.logo(href="#")
           div.new-lives__container
             div.new-lives
               div.new-live
                 div.new-live__img
                   img(src="img/newlive1.png")
                 div.new-live__text GREEN DAY - ROCK AM RING 2013 [LIVE HD]
               div.new-live
                 div.new-live__img
                   img(src="img/newlive2.png")
                 div.new-live__text GREEN DAY - ROCK AM RING 2013 [LIVE HD]
               div.new-live
                 div.new-live__img
                   img(src="img/newlive3.png")
                 div.new-live__text GREEN DAY - ROCK AM RING 2013 [LIVE HD]
               div.new-live
                 div.new-live__img
                   img(src="img/newlive3.png")
                 div.new-live__text GREEN DAY - ROCK AM RING 2013 [LIVE HD]
             div.new-lives__arrows
               div.new-lives__arrow.new-lives__arrow_left
               div.new-lives__arrow.new-lives__arrow_right
           a.btn.btn-orange(href="#")
             span  Ко всем лайвам
             i.fa.fa-long-arrow-right
 .search-block
   .inner
     .container-fluid
       .row
         .col-md-6
           .search-form
             input(type="text",name="s",placeholder="Поиск по сайту")
             button
               i.fa.fa-search
         .col-md-6
           .hash-tag #ROCKISOK
           .social
             a.social__item.social__item_vk(href="#")
               i.fa.fa-vk
             a.social__item.social__item_tw(href="#")
               i.fa.fa-twitter
             a.social__item.social__item_fb(href="#")
               i.fa.fa-facebook
 .livestream
   .inner
     .container-fluid
       .row
         .col-md-7 Сейчас идет прямая трансляция фестиваля ROCK AM RING! НЕ ПРОПУСТИ!
         .col-md-5
           a.watch-live(href="#")
             i.fa.fa-chevron-circle-right
             span  Смотреть LIVE



