div.sidebar__news
    .sidebar__new
        .sidebar__new__date 14.05.15
        h3
            a(href="#") RAM
            i.fa.fa-angle-right
            a(href="#") Green Day примут участие в фестивале!
        a(href="#")
            p Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket für alle Festivalbesucher, die ein Erlebnis der besonderen Art suchen. Ihr Camp grenzt an die Hauptbühnen.
    .sidebar__new
        .sidebar__new__date 14.05.15
        h3
            a(href="#") RAM
            i.fa.fa-angle-right
            a(href="#") Green Day примут участие в фестивале!
        a(href="#")
            p Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket für alle Festivalbesucher, die ein Erlebnis der besonderen Art suchen. Ihr Camp grenzt an die Hauptbühnen.
    .sidebar__new
        .sidebar__new__date 14.05.15
        h3
            a(href="#") RAM
            i.fa.fa-angle-right
            a(href="#") Green Day примут участие в фестивале!
        a(href="#")
            p Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket für alle Festivalbesucher, die ein Erlebnis der besonderen Art suchen. Ihr Camp grenzt an die Hauptbühnen.
    .sidebar__new
        .sidebar__new__date 14.05.15
        h3
            a(href="#") RAM
            i.fa.fa-angle-right
            a(href="#") Green Day примут участие в фестивале!
        a(href="#")
            p Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket für alle Festivalbesucher, die ein Erlebnis der besonderen Art suchen. Ihr Camp grenzt an die Hauptbühnen.