doctype html
html.no-js(lang='ru')
    include _head
    body
        include _header2
        .content.detail
            .inner
                .container-fluid
                    .row
                        .col-md-12
                            .bread-crubms.clearfix
                                a.bread-crubms-single.bread-crubms-main(href="#")
                                    span Главная
                                    i.fa.fa-caret-right
                                .bread-crubms-multi
                                    a.bread-crubms-single(href="#")
                                        span Главная
                                        i.fa.fa-caret-right
                                    a.bread-crubms-single(href="#")
                                        span Фестивали
                                        i.fa.fa-caret-right
                                    a.bread-crubms-single(href="#")
                                        span Download Fest 2016
                            .detail-header
                                .detail-header-item.detail-header-item-left 14.05.15
                                .detail-header-item.detail-header-item-right
                                    h1 RAM     Green Day примут участие в фестивале!
                            img.img-detail(src="img/greendaywide.png")
                            span.hash-t
                                a(href="#") #inflames;
                                a(href="#") #metal;
                                a(href="#") #modernmetal
                            p.p-detail Auf den Rock‘n’Roll-Campingflächen werden den Besuchern Stromanschlüsse zur gemeinsamen Nutzung zur Verfügung gestellt. Diese Stromanschlüsse befinden sich in maximal 50m Entfernung. Die Versorgung erfolgt dezentral mit vielen kleineren Stromaggregaten und Verteilerkästen. Dadurch werden die mit langen Kabelwegen verbundenen Stolperfallen vermieden und eine hohe Versorgungssicherheit gewährleistet. Auf den Rock‘n’Roll-Campingflächen werden den Besuchern Stromanschlüsse zur gemeinsamen Nutzung zur Verfügung gestellt. Diese Stromanschlüsse befinden sich in maximal 50m Entfernung. Die Versorgung erfolgt dezentral mit vielen kleineren Stromaggregaten und Verteilerkästen. Dadurch werden die mit langen Kabelwegen verbundenen Stolperfallen vermieden und eine hohe Versorgungssicherheit gewährleistet.
                             |Auf den Rock‘n’Roll-Campingflächen werden den Besuchern Stromanschlüsse zur gemeinsamen Nutzung zur Verfügung gestellt. Diese Stromanschlüsse befinden sich in maximal 50m Entfernung. Die Versorgung erfolgt dezentral mit vielen kleineren Stromaggregaten und Verteilerkästen. Dadurch werden die mit langen Kabelwegen verbundenen Stolperfallen vermieden und eine hohe Versorgungssicherheit gewährleistet.
                            .block-likes
                                a.btn.btn-refresh(href="#")
                                    i.fa.fa-retweet
                                a.btn.btn-likes.btn-likes_vk(href="#")
                                    i.fa.fa-vk
                                    span 36
                                a.btn.btn-likes.btn-likes_fb(href="#")
                                    i.fa.fa-facebook
                                    span 36
                                a.btn.btn-likes.btn-likes_tw(href="#")
                                    i.fa.fa-twitter
                                    span 36
                    .row
                        .col-md-4
                            .sidebar__new
                                .sidebar__new__date 14.05.15
                                h3
                                    a(href="#") RAM
                                    i.fa.fa-angle-right
                                    a(href="#") Green Day примут участие в фестивале!
                                a(href="#")
                                    p Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket für alle Festivalbesucher, die ein Erlebnis der besonderen Art suchen. Ihr Camp grenzt an die Hauptbühnen.
                        .col-md-4
                            .sidebar__new
                                .sidebar__new__date 14.05.15
                                h3
                                    a(href="#") RAM
                                    i.fa.fa-angle-right
                                    a(href="#") Green Day примут участие в фестивале!
                                a(href="#")
                                    p Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket für alle Festivalbesucher, die ein Erlebnis der besonderen Art suchen. Ihr Camp grenzt an die Hauptbühnen.
                        .col-md-4
                            .sidebar__new
                                .sidebar__new__date 14.05.15
                                h3
                                    a(href="#") RAM
                                    i.fa.fa-angle-right
                                    a(href="#") Green Day примут участие в фестивале!
                                a(href="#")
                                    p Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket für alle Festivalbesucher, die ein Erlebnis der besonderen Art suchen. Ihr Camp grenzt an die Hauptbühnen.
                    .row
                        .col-md-12
                            .detail-content
                                .feed-back-send
                                    form
                                        label
                                            span Ваше имя:
                                            input(type="text")
                                        textarea
                                        .captcha
                                            .captcha-content
                                            textarea.captcha-text
                                        .pull-right.captcha-btn
                                            button.btn.btn-grn(type="send") Отправить
                                .feed-back-item
                                    p
                                        span Михаил |
                                        | 23.08.15
                                    p
                                        | Лучший клон TREX 100. В интернете на разных сайтах предлагают комплекты металлоапргрейда данного вертолета. Так вот эти апргрейды этому ЛА не нужны. Дают только лишний. При крушении металические детали разрезат пластиковые. Вообщем это выкинутые деньги, на них лучше 200 мач акумуляторов купить к нему.
                                    a.a-comment(href="#") Комментировать
                                .feed-back-item
                                    p
                                        span Михаил |
                                        | 23.08.15
                                    p
                                        | Лучший клон TREX 100. В интернете на разных сайтах предлагают комплекты металлоапргрейда данного вертолета. Так вот эти апргрейды этому ЛА не нужны. Дают только лишний. При крушении металические детали разрезат пластиковые. Вообщем это выкинутые деньги, на них лучше 200 мач акумуляторов купить к нему.
                                    a.a-comment(href="#") Комментировать
                                .feed-back
                                    .feed-back-item
                                        p
                                            span Михаил |
                                            | 23.08.15
                                        p
                                            | Лучший клон TREX 100. В интернете на разных сайтах предлагают комплекты металлоапргрейда данного вертолета. Так вот эти апргрейды этому ЛА не нужны. Дают только лишний. При крушении металические детали разрезат пластиковые. Вообщем это выкинутые деньги, на них лучше 200 мач акумуляторов купить к нему.
                                        a.a-comment(href="#") Комментировать
                                    .feed-back-item.feed-back-item-comment
                                        p
                                            span Виталий |
                                            | 23.08.15
                                        p
                                            | Лучший клон TREX 100. В интернете на разных сайтах предлагают комплекты металлоапргрейда данного вертолета. Так вот эти апргрейды этому ЛА не нужны. Дают только лишний. При крушении металические детали разрезат пластиковые. Вообщем это выкинутые деньги, на них лучше 200 мач акумуляторов купить к нему.
                                        a.a-comment(href="#") Комментировать
                                        .feed-back-date 23.08.15
                                .feed-back
                                    .feed-back-item
                                        p
                                            span Михаил |
                                            | 23.08.15
                                        p
                                            | Лучший клон TREX 100. В интернете на разных сайтах предлагают комплекты металлоапргрейда данного вертолета. Так вот эти апргрейды этому ЛА не нужны. Дают только лишний. При крушении металические детали разрезат пластиковые. Вообщем это выкинутые деньги, на них лучше 200 мач акумуляторов купить к нему.
                                        a.a-comment(href="#") Комментировать
                                    .feed-back-item.feed-back-item-comment
                                        p
                                            span Виталий |
                                            | 23.08.15
                                        p
                                            | Лучший клон TREX 100. В интернете на разных сайтах предлагают комплекты металлоапргрейда данного вертолета. Так вот эти апргрейды этому ЛА не нужны. Дают только лишний. При крушении металические детали разрезат пластиковые. Вообщем это выкинутые деньги, на них лучше 200 мач акумуляторов купить к нему.
                                        a.a-comment(href="#") Комментировать
                                        .feed-back-date 23.08.15
                                .mnu-nmbr
                                    a.mnu-arrow-left.fa.fa-caret-left(href="#")
                                    a.mnu-arrow-right.fa.fa-caret-right(href="#")
                                    ul.clearfix
                                        li
                                            a(href="#") 1
                                        li.nmbr-active
                                            a(href="#") 2
                                        li
                                            a(href="#") 3
                                        li
                                            a(href="#") 4
                                        li
                                            a(href="#") 5
                                        li
                                            a(href="#") 6
                                        li
                                            a(href="#") 7
        include _footer