include _header2
.content.fest
    .inner
        .container-fluid
            .row
                .col-md-12
                    h1.h1-fest ФЕСТИВАЛИ
            .row
                .col-md-12
                    ul.tabs.nav.nav-tabs(role="tablist")
                        li.nav-item
                            a.nav-link.active(href="#festivals",data-toggle="tab",role="tab") Фестивали
                        li.nav-item
                            a.nav-link(href="#lives",data-toggle="tab",role="tab") Лайвы
                        li.nav-item
                            a.nav-link(href="#clipes",data-toggle="tab",role="tab") Клипы
            .row
                .col-md-12.norelative
                    .tab-content
                        .tab-pane.active(id="festivals",role="tab-panel")
                            .tab-content
                                .tab-pane.active(id="coming1", role="tab-panel")
                                    .rock.row
                                        div.col-sm-3.rock__item
                                            a(href="#")
                                                h3
                                                    strong Global East Rock fest
                                                    | 2016  (10-12 июня)
                                            .rock__item__img
                                                img(src="img/rock1.jpg")
                                                div.rock__item__news
                                                    .rock__item__new
                                                        .rock__item__new__date 14.05.15
                                                        p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                                    .rock__item__new
                                                        .rock__item__new__date 14.05.15
                                                        p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                                    .rock__item__new
                                                        .rock__item__new__date 14.05.15
                                                        p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                                    a(href="#")
                                                        span Читать все
                                                        i.fa.fa-long-arrow-right
                                        div.col-sm-3.rock__item
                                            a(href="#")
                                                h3
                                                    strong ROCK YOU!
                                                    | 2016  (10-12 июня)
                                            .rock__item__img
                                                img(src="img/rock2.jpg")
                                                div.rock__item__news
                                                    .rock__item__new
                                                        .rock__item__new__date 14.05.15
                                                        p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                                    .rock__item__new
                                                        .rock__item__new__date 14.05.15
                                                        p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                                    .rock__item__new
                                                        .rock__item__new__date 14.05.15
                                                        p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                                    a(href="#")
                                                        span Читать все
                                                        i.fa.fa-long-arrow-right
                                        div.col-sm-3.rock__item
                                            a(href="#")
                                                h3
                                                    strong Global East Rock fest
                                                    | 2016  (10-12 июня)
                                            .rock__item__img
                                                img(src="img/rock1.jpg")
                                                div.rock__item__news
                                                    .rock__item__new
                                                        .rock__item__new__date 14.05.15
                                                        p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                                    .rock__item__new
                                                        .rock__item__new__date 14.05.15
                                                        p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                                    .rock__item__new
                                                        .rock__item__new__date 14.05.15
                                                        p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                                    a(href="#")
                                                        span Читать все
                                                        i.fa.fa-long-arrow-right
                                        div.col-sm-3.rock__item
                                            a(href="#")
                                                h3
                                                    strong ROCK YOU!
                                                    | 2016  (10-12 июня)
                                            .rock__item__img
                                                img(src="img/rock2.jpg")
                                                div.rock__item__news
                                                    .rock__item__new
                                                        .rock__item__new__date 14.05.15
                                                        p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                                    .rock__item__new
                                                        .rock__item__new__date 14.05.15
                                                        p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                                    .rock__item__new
                                                        .rock__item__new__date 14.05.15
                                                        p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                                    a(href="#")
                                                        span Читать все
                                                        i.fa.fa-long-arrow-right
                                        div.col-sm-3.rock__item
                                            a(href="#")
                                                h3
                                                    strong Global East Rock fest
                                                    | 2016  (10-12 июня)
                                            .rock__item__img
                                                img(src="img/rock1.jpg")
                                                div.rock__item__news
                                                    .rock__item__new
                                                        .rock__item__new__date 14.05.15
                                                        p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                                    .rock__item__new
                                                        .rock__item__new__date 14.05.15
                                                        p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                                    .rock__item__new
                                                        .rock__item__new__date 14.05.15
                                                        p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                                    a(href="#")
                                                        span Читать все
                                                        i.fa.fa-long-arrow-right
                                        div.col-sm-3.rock__item
                                            a(href="#")
                                                h3
                                                    strong ROCK YOU!
                                                    | 2016  (10-12 июня)
                                            .rock__item__img
                                                img(src="img/rock2.jpg")
                                                div.rock__item__news
                                                    .rock__item__new
                                                        .rock__item__new__date 14.05.15
                                                        p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                                    .rock__item__new
                                                        .rock__item__new__date 14.05.15
                                                        p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                                    .rock__item__new
                                                        .rock__item__new__date 14.05.15
                                                        p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                                    a(href="#")
                                                        span Читать все
                                                        i.fa.fa-long-arrow-right
                                        div.col-sm-3.rock__item
                                            a(href="#")
                                                h3
                                                    strong Global East Rock fest
                                                    | 2016  (10-12 июня)
                                            .rock__item__img
                                                img(src="img/rock1.jpg")
                                                div.rock__item__news
                                                    .rock__item__new
                                                        .rock__item__new__date 14.05.15
                                                        p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                                    .rock__item__new
                                                        .rock__item__new__date 14.05.15
                                                        p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                                    .rock__item__new
                                                        .rock__item__new__date 14.05.15
                                                        p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                                    a(href="#")
                                                        span Читать все
                                                        i.fa.fa-long-arrow-right
                                        div.col-sm-3.rock__item
                                            a(href="#")
                                                h3
                                                    strong ROCK YOU!
                                                    | 2016  (10-12 июня)
                                            .rock__item__img
                                                img(src="img/rock2.jpg")
                                                div.rock__item__news
                                                    .rock__item__new
                                                        .rock__item__new__date 14.05.15
                                                        p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                                    .rock__item__new
                                                        .rock__item__new__date 14.05.15
                                                        p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                                    .rock__item__new
                                                        .rock__item__new__date 14.05.15
                                                        p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                                    a(href="#")
                                                        span Читать все
                                                        i.fa.fa-long-arrow-right

                                        div.col-sm-3.rock__item
                                            a(href="#")
                                                h3
                                                    strong Global East Rock fest
                                                    | 2016  (10-12 июня)
                                            .rock__item__img
                                                img(src="img/rock1.jpg")
                                                div.rock__item__news
                                                    .rock__item__new
                                                        .rock__item__new__date 14.05.15
                                                        p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                                    .rock__item__new
                                                        .rock__item__new__date 14.05.15
                                                        p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                                    .rock__item__new
                                                        .rock__item__new__date 14.05.15
                                                        p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                                    a(href="#")
                                                        span Читать все
                                                        i.fa.fa-long-arrow-right
                                        div.col-sm-3.rock__item
                                            a(href="#")
                                                h3
                                                    strong ROCK YOU!
                                                    | 2016  (10-12 июня)
                                            .rock__item__img
                                                img(src="img/rock2.jpg")
                                                div.rock__item__news
                                                    .rock__item__new
                                                        .rock__item__new__date 14.05.15
                                                        p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                                    .rock__item__new
                                                        .rock__item__new__date 14.05.15
                                                        p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                                    .rock__item__new
                                                        .rock__item__new__date 14.05.15
                                                        p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                                    a(href="#")
                                                        span Читать все
                                                        i.fa.fa-long-arrow-right
                                        div.col-sm-3.rock__item
                                            a(href="#")
                                                h3
                                                    strong Global East Rock fest
                                                    | 2016  (10-12 июня)
                                            .rock__item__img
                                                img(src="img/rock1.jpg")
                                                div.rock__item__news
                                                    .rock__item__new
                                                        .rock__item__new__date 14.05.15
                                                        p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                                    .rock__item__new
                                                        .rock__item__new__date 14.05.15
                                                        p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                                    .rock__item__new
                                                        .rock__item__new__date 14.05.15
                                                        p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                                    a(href="#")
                                                        span Читать все
                                                        i.fa.fa-long-arrow-right
                                        div.col-sm-3.rock__item
                                            a(href="#")
                                                h3
                                                    strong ROCK YOU!
                                                    | 2016  (10-12 июня)
                                            .rock__item__img
                                                img(src="img/rock2.jpg")
                                                div.rock__item__news
                                                    .rock__item__new
                                                        .rock__item__new__date 14.05.15
                                                        p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                                    .rock__item__new
                                                        .rock__item__new__date 14.05.15
                                                        p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                                    .rock__item__new
                                                        .rock__item__new__date 14.05.15
                                                        p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                                    a(href="#")
                                                        span Читать все
                                                        i.fa.fa-long-arrow-right
                                        div.col-sm-3.rock__item
                                            a(href="#")
                                                h3
                                                    strong Global East Rock fest
                                                    | 2016  (10-12 июня)
                                            .rock__item__img
                                                img(src="img/rock1.jpg")
                                                div.rock__item__news
                                                    .rock__item__new
                                                        .rock__item__new__date 14.05.15
                                                        p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                                    .rock__item__new
                                                        .rock__item__new__date 14.05.15
                                                        p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                                    .rock__item__new
                                                        .rock__item__new__date 14.05.15
                                                        p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                                    a(href="#")
                                                        span Читать все
                                                        i.fa.fa-long-arrow-right
                                        div.col-sm-3.rock__item
                                            a(href="#")
                                                h3
                                                    strong ROCK YOU!
                                                    | 2016  (10-12 июня)
                                            .rock__item__img
                                                img(src="img/rock2.jpg")
                                                div.rock__item__news
                                                    .rock__item__new
                                                        .rock__item__new__date 14.05.15
                                                        p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                                    .rock__item__new
                                                        .rock__item__new__date 14.05.15
                                                        p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                                    .rock__item__new
                                                        .rock__item__new__date 14.05.15
                                                        p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                                    a(href="#")
                                                        span Читать все
                                                        i.fa.fa-long-arrow-right
                                        div.col-sm-3.rock__item
                                            a(href="#")
                                                h3
                                                    strong Global East Rock fest
                                                    | 2016  (10-12 июня)
                                            .rock__item__img
                                                img(src="img/rock1.jpg")
                                                div.rock__item__news
                                                    .rock__item__new
                                                        .rock__item__new__date 14.05.15
                                                        p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                                    .rock__item__new
                                                        .rock__item__new__date 14.05.15
                                                        p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                                    .rock__item__new
                                                        .rock__item__new__date 14.05.15
                                                        p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                                    a(href="#")
                                                        span Читать все
                                                        i.fa.fa-long-arrow-right
                                        div.col-sm-3.rock__item
                                            a(href="#")
                                                h3
                                                    strong ROCK YOU!
                                                    | 2016  (10-12 июня)
                                            .rock__item__img
                                                img(src="img/rock2.jpg")
                                                div.rock__item__news
                                                    .rock__item__new
                                                        .rock__item__new__date 14.05.15
                                                        p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                                    .rock__item__new
                                                        .rock__item__new__date 14.05.15
                                                        p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                                    .rock__item__new
                                                        .rock__item__new__date 14.05.15
                                                        p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                                    a(href="#")
                                                        span Читать все
                                                        i.fa.fa-long-arrow-right

                                    .row
                                        .col-md-12
                                            a.btn.btn-empty(href="#") Показать еще




include _footer