doctype html
html.no-js(lang='ru')
    include _head
    body
        include _header
        .content
            .inner
                .container-fluid
                    .row
                        .col-md-12
                            ul.tabs.nav.nav-tabs(role="tablist")
                                li.nav-item
                                    a.nav-link.active(href="#festivals",data-toggle="tab",role="tab") Фестивали
                                li.nav-item
                                    a.nav-link(href="#lives",data-toggle="tab",role="tab") Лайвы
                                li.nav-item
                                    a.nav-link(href="#clipes",data-toggle="tab",role="tab") Клипы
                    .row.relative
                        .col-md-8.norelative.spec-pad
                            .tab-content
                                .tab-pane.active(id="festivals",role="tab-panel")
                                    ul.tabs2.nav.nav-tabs(role="tablist")
                                        li.nav-item
                                            a.nav-link.active(href="#coming1",data-toggle="tab",role="tab")
                                                i.fa.fa-check
                                                span Предстоящие
                                        li.nav-item
                                            a.nav-link(href="#current1",data-toggle="tab",role="tab")
                                                i.fa.fa-check
                                                span Текущие
                                        li.nav-item
                                            a.nav-link(href="#past1",data-toggle="tab",role="tab")
                                                i.fa.fa-check
                                                span Прошедшие
                                    .tab-content
                                        .tab-pane.active(id="coming1", role="tab-panel")
                                            .rock.row
                                                div.col-sm-4.rock__item
                                                    a(href="#")
                                                        h3
                                                            strong Global East Rock fest
                                                            | 2016  (10-12 июня)
                                                        .rock__item__img
                                                            img(src="img/rock1.jpg")
                                                            div.rock__item__news
                                                                a(href="#")
                                                                    .rock__item__new
                                                                        .rock__item__new__date 14.05.15
                                                                        p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                                                a(href="#")
                                                                    .rock__item__new
                                                                        .rock__item__new__date 14.05.15
                                                                        p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                                                a(href="#")
                                                                    .rock__item__new
                                                                        .rock__item__new__date 14.05.15
                                                                        p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                                                a(href="#")
                                                                    span Читать все
                                                                    i.fa.fa-long-arrow-right
                                                div.col-sm-4.rock__item
                                                    a(href="#")
                                                        h3
                                                            strong Global East Rock fest
                                                            | 2016  (10-12 июня)
                                                        .rock__item__img
                                                            img(src="img/rock2.jpg")
                                                            div.rock__item__news
                                                                a(href="#")
                                                                    .rock__item__new
                                                                        .rock__item__new__date 14.05.15
                                                                        p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                                                a(href="#")
                                                                    .rock__item__new
                                                                        .rock__item__new__date 14.05.15
                                                                        p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                                                a(href="#")
                                                                    .rock__item__new
                                                                        .rock__item__new__date 14.05.15
                                                                        p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                                                a(href="#")
                                                                    span Читать все
                                                                    i.fa.fa-long-arrow-right
                                                div.col-sm-4.rock__item
                                                    a(href="#")
                                                        h3
                                                            strong Global East Rock fest
                                                            | 2016  (10-12 июня)
                                                        .rock__item__img
                                                            img(src="img/rock3.jpg")
                                                            div.rock__item__news
                                                                a(href="#")
                                                                    .rock__item__new
                                                                        .rock__item__new__date 14.05.15
                                                                        p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                                                a(href="#")
                                                                    .rock__item__new
                                                                        .rock__item__new__date 14.05.15
                                                                        p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                                                a(href="#")
                                                                    .rock__item__new
                                                                        .rock__item__new__date 14.05.15
                                                                        p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                                                a(href="#")
                                                                    span Читать все
                                                                    i.fa.fa-long-arrow-right
                                                div.col-sm-4.rock__item
                                                    a(href="#")
                                                        h3
                                                            strong Global East Rock fest
                                                            | 2016  (10-12 июня)
                                                        .rock__item__img
                                                            img(src="img/rock4.jpg")
                                                            div.rock__item__news
                                                                a(href="#")
                                                                    .rock__item__new
                                                                        .rock__item__new__date 14.05.15
                                                                        p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                                                a(href="#")
                                                                    .rock__item__new
                                                                        .rock__item__new__date 14.05.15
                                                                        p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                                                a(href="#")
                                                                    .rock__item__new
                                                                        .rock__item__new__date 14.05.15
                                                                        p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                                                a(href="#")
                                                                    span Читать все
                                                                    i.fa.fa-long-arrow-right
                                                div.col-sm-4.rock__item
                                                    a(href="#")
                                                        h3
                                                            strong Global East Rock fest
                                                            | 2016  (10-12 июня)
                                                        .rock__item__img
                                                            img(src="img/rock5.jpg")
                                                            div.rock__item__news
                                                                a(href="#")
                                                                    .rock__item__new
                                                                        .rock__item__new__date 14.05.15
                                                                        p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                                                a(href="#")
                                                                    .rock__item__new
                                                                        .rock__item__new__date 14.05.15
                                                                        p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                                                a(href="#")
                                                                    .rock__item__new
                                                                        .rock__item__new__date 14.05.15
                                                                        p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                                                a(href="#")
                                                                    span Читать все
                                                                    i.fa.fa-long-arrow-right
                                                div.col-sm-4.rock__item
                                                    a(href="#")
                                                        h3
                                                            strong Global East Rock fest
                                                            | 2016  (10-12 июня)
                                                        .rock__item__img
                                                            img(src="img/rock6.jpg")
                                                            div.rock__item__news
                                                                a(href="#")
                                                                    .rock__item__new
                                                                        .rock__item__new__date 14.05.15
                                                                        p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                                                a(href="#")
                                                                    .rock__item__new
                                                                        .rock__item__new__date 14.05.15
                                                                        p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                                                a(href="#")
                                                                    .rock__item__new
                                                                        .rock__item__new__date 14.05.15
                                                                        p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                                                a(href="#")
                                                                    span Читать все
                                                                    i.fa.fa-long-arrow-right
                                                div.col-sm-4.rock__item
                                                    a(href="#")
                                                        h3
                                                            strong Global East Rock fest
                                                            | 2016  (10-12 июня)
                                                        .rock__item__img
                                                            img(src="img/rock7.jpg")
                                                            div.rock__item__news
                                                                a(href="#")
                                                                    .rock__item__new
                                                                        .rock__item__new__date 14.05.15
                                                                        p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                                                a(href="#")
                                                                    .rock__item__new
                                                                        .rock__item__new__date 14.05.15
                                                                        p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                                                a(href="#")
                                                                    .rock__item__new
                                                                        .rock__item__new__date 14.05.15
                                                                        p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                                                a(href="#")
                                                                    span Читать все
                                                                    i.fa.fa-long-arrow-right
                                                div.col-sm-4.rock__item
                                                    a(href="#")
                                                        h3
                                                            strong Global East Rock fest
                                                            | 2016  (10-12 июня)
                                                        .rock__item__img
                                                            img(src="img/rock8.jpg")
                                                            div.rock__item__news
                                                                a(href="#")
                                                                    .rock__item__new
                                                                        .rock__item__new__date 14.05.15
                                                                        p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                                                a(href="#")
                                                                    .rock__item__new
                                                                        .rock__item__new__date 14.05.15
                                                                        p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                                                a(href="#")
                                                                    .rock__item__new
                                                                        .rock__item__new__date 14.05.15
                                                                        p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                                                a(href="#")
                                                                    span Читать все
                                                                    i.fa.fa-long-arrow-right
                                                div.col-sm-4.rock__item
                                                    a(href="#")
                                                        h3
                                                            strong Global East Rock fest
                                                            | 2016  (10-12 июня)
                                                        .rock__item__img
                                                            img(src="img/rock9.jpg")
                                                            div.rock__item__news
                                                                a(href="#")
                                                                    .rock__item__new
                                                                        .rock__item__new__date 14.05.15
                                                                        p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                                                a(href="#")
                                                                    .rock__item__new
                                                                        .rock__item__new__date 14.05.15
                                                                        p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                                                a(href="#")
                                                                    .rock__item__new
                                                                        .rock__item__new__date 14.05.15
                                                                        p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                                                a(href="#")
                                                                    span Читать все
                                                                    i.fa.fa-long-arrow-right
                                                div.col-sm-4.rock__item
                                                    a(href="#")
                                                        h3
                                                            strong Global East Rock fest
                                                            | 2016  (10-12 июня)
                                                        .rock__item__img
                                                            img(src="img/rock10.jpg")
                                                            div.rock__item__news
                                                                a(href="#")
                                                                    .rock__item__new
                                                                        .rock__item__new__date 14.05.15
                                                                        p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                                                a(href="#")
                                                                    .rock__item__new
                                                                        .rock__item__new__date 14.05.15
                                                                        p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                                                a(href="#")
                                                                    .rock__item__new
                                                                        .rock__item__new__date 14.05.15
                                                                        p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                                                a(href="#")
                                                                    span Читать все
                                                                    i.fa.fa-long-arrow-right
                                                div.col-sm-4.rock__item
                                                    a(href="#")
                                                        h3
                                                            strong Global East Rock fest
                                                            | 2016  (10-12 июня)
                                                        .rock__item__img
                                                            img(src="img/rock11.jpg")
                                                            div.rock__item__news
                                                                a(href="#")
                                                                    .rock__item__new
                                                                        .rock__item__new__date 14.05.15
                                                                        p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                                                a(href="#")
                                                                    .rock__item__new
                                                                        .rock__item__new__date 14.05.15
                                                                        p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                                                a(href="#")
                                                                    .rock__item__new
                                                                        .rock__item__new__date 14.05.15
                                                                        p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                                                a(href="#")
                                                                    span Читать все
                                                                    i.fa.fa-long-arrow-right
                                                div.col-sm-4.rock__item
                                                    a(href="#")
                                                        h3
                                                            strong Global East Rock fest
                                                            | 2016  (10-12 июня)
                                                        .rock__item__img
                                                            img(src="img/rock12.jpg")
                                                            div.rock__item__news
                                                                a(href="#")
                                                                    .rock__item__new
                                                                        .rock__item__new__date 14.05.15
                                                                        p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                                                a(href="#")
                                                                    .rock__item__new
                                                                        .rock__item__new__date 14.05.15
                                                                        p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                                                a(href="#")
                                                                    .rock__item__new
                                                                        .rock__item__new__date 14.05.15
                                                                        p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                                                a(href="#")
                                                                    span Читать все
                                                                    i.fa.fa-long-arrow-right
                                            .row
                                                .col-md-12
                                                    a.btn.btn-empty(href="#") Показать еще
                                        .tab-pane(id="current1", role="tab-panel")
                                            .rock.row
                                                div.col-md-4.rock__item
                                                    a(href="#")
                                                        h3
                                                            strong Global East Rock fest
                                                            | 2016  (10-12 июня)
                                                    img(src="img/rock1.jpg")
                                                    div.rock__item__news
                                                        .rock__item__new
                                                            .rock__item__new__date 14.05.15
                                                            p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                                        .rock__item__new
                                                            .rock__item__new__date 14.05.15
                                                            p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                                        .rock__item__new
                                                            .rock__item__new__date 14.05.15
                                                            p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                                        a(href="#")
                                                            span Читать все
                                                            i.fa.fa-long-arrow-right
                                                div.col-md-4.rock__item
                                                    a(href="#")
                                                        h3
                                                            strong ROCK YOU!
                                                            | 2016  (10-12 июня)
                                                    img(src="img/rock2.jpg")
                                                    div.rock__item__news
                                                        .rock__item__new
                                                            .rock__item__new__date 14.05.15
                                                            p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                                        .rock__item__new
                                                            .rock__item__new__date 14.05.15
                                                            p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                                        .rock__item__new
                                                            .rock__item__new__date 14.05.15
                                                            p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                                        a(href="#")
                                                            span Читать все
                                                            i.fa.fa-long-arrow-right
                                                a.col-md-4.rock__item(href="#")
                                                    h3
                                                        strong ПРО РОК
                                                        | 2016  (10-12 июня)
                                                    img(src="img/rock3.jpg")
                                                a.col-md-4.rock__item(href="#")
                                                    h3
                                                        strong HARD ROCK MOSCOW FESTIVAL
                                                        | 2016  (10-12 июня)
                                                    img(src="img/rock4.jpg")
                                                a.col-md-4.rock__item(href="#")
                                                    h3
                                                        strong global east rock fest
                                                        | 2016  (10-12 июня)
                                                    img(src="img/rock5.jpg")
                                                a.col-md-4.rock__item(href="#")
                                                    h3
                                                        strong рокЁ!лка
                                                        | 2016  (10-12 июня)
                                                    img(src="img/rock6.jpg")
                                                a.col-md-4.rock__item(href="#")
                                                    h3
                                                        strong PROSTOROCK
                                                        | 2016  (10-12 июня)
                                                    img(src="img/rock7.jpg")
                                                a.col-md-4.rock__item(href="#")
                                                    h3
                                                        strong эпидемия
                                                        | 2016  (10-12 июня)
                                                    img(src="img/rock8.jpg")
                                                a.col-md-4.rock__item(href="#")
                                                    h3
                                                        strong soulfly
                                                        | 2016  (10-12 июня)
                                                    img(src="img/rock9.jpg")
                                                a.col-md-4.rock__item(href="#")
                                                    h3
                                                        strong eskimo callboy
                                                        | 2016  (10-12 июня)
                                                    img(src="img/rock10.jpg")
                                                a.col-md-4.rock__item(href="#")
                                                    h3
                                                        strong amatory
                                                        | 2016  (10-12 июня)
                                                    img(src="img/rock11.jpg")
                                                a.col-md-4.rock__item(href="#")
                                                    h3
                                                        strong hollywood undead
                                                        | 2016  (10-12 июня)
                                                    img(src="img/rock12.jpg")

                                        .tab-pane(id="past1", role="tab-panel")
                                            .rock.row
                                                div.col-md-4.rock__item
                                                    a(href="#")
                                                        h3
                                                            strong Global East Rock fest
                                                            | 2016  (10-12 июня)
                                                    img(src="img/rock1.jpg")
                                                    div.rock__item__news
                                                        .rock__item__new
                                                            .rock__item__new__date 14.05.15
                                                            p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                                        .rock__item__new
                                                            .rock__item__new__date 14.05.15
                                                            p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                                        .rock__item__new
                                                            .rock__item__new__date 14.05.15
                                                            p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                                        a(href="#")
                                                            span Читать все
                                                            i.fa.fa-long-arrow-right
                                                div.col-md-4.rock__item
                                                    a(href="#")
                                                        h3
                                                            strong ROCK YOU!
                                                            | 2016  (10-12 июня)
                                                    img(src="img/rock2.jpg")
                                                    div.rock__item__news
                                                        .rock__item__new
                                                            .rock__item__new__date 14.05.15
                                                            p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                                        .rock__item__new
                                                            .rock__item__new__date 14.05.15
                                                            p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                                        .rock__item__new
                                                            .rock__item__new__date 14.05.15
                                                            p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                                        a(href="#")
                                                            span Читать все
                                                            i.fa.fa-long-arrow-right
                                                a.col-md-4.rock__item(href="#")
                                                    h3
                                                        strong ПРО РОК
                                                        | 2016  (10-12 июня)
                                                    img(src="img/rock3.jpg")
                                                a.col-md-4.rock__item(href="#")
                                                    h3
                                                        strong HARD ROCK MOSCOW FESTIVAL
                                                        | 2016  (10-12 июня)
                                                    img(src="img/rock4.jpg")
                                                a.col-md-4.rock__item(href="#")
                                                    h3
                                                        strong global east rock fest
                                                        | 2016  (10-12 июня)
                                                    img(src="img/rock5.jpg")
                                                a.col-md-4.rock__item(href="#")
                                                    h3
                                                        strong рокЁ!лка
                                                        | 2016  (10-12 июня)
                                                    img(src="img/rock6.jpg")
                                                a.col-md-4.rock__item(href="#")
                                                    h3
                                                        strong PROSTOROCK
                                                        | 2016  (10-12 июня)
                                                    img(src="img/rock7.jpg")
                                                a.col-md-4.rock__item(href="#")
                                                    h3
                                                        strong эпидемия
                                                        | 2016  (10-12 июня)
                                                    img(src="img/rock8.jpg")
                                                a.col-md-4.rock__item(href="#")
                                                    h3
                                                        strong soulfly
                                                        | 2016  (10-12 июня)
                                                    img(src="img/rock9.jpg")
                                                a.col-md-4.rock__item(href="#")
                                                    h3
                                                        strong eskimo callboy
                                                        | 2016  (10-12 июня)
                                                    img(src="img/rock10.jpg")
                                                a.col-md-4.rock__item(href="#")
                                                    h3
                                                        strong amatory
                                                        | 2016  (10-12 июня)
                                                    img(src="img/rock11.jpg")
                                                a.col-md-4.rock__item(href="#")
                                                    h3
                                                        strong hollywood undead
                                                        | 2016  (10-12 июня)
                                                    img(src="img/rock12.jpg")

                                .tab-pane(id="lives",role="tab-panel")
                                    ul.tabs2.tabs22.nav.nav-tabs(role="tablist")
                                        li.nav-item
                                            a.nav-link.active(href="#coming2",data-toggle="tab",role="tab")
                                                i.fa.fa-check
                                                span Предстоящие
                                        li.nav-item
                                            a.nav-link(href="#current2",data-toggle="tab",role="tab")
                                                i.fa.fa-check
                                                span Текущие
                                        li.nav-item
                                            a.nav-link(href="#past2",data-toggle="tab",role="tab")
                                                i.fa.fa-check
                                                span Прошедшие
                                    .tab-content
                                        .tab-pane.active(id="coming2", role="tab-panel")
                                            .rock.row
                                                - for(var i = 1; i<=15;i++)
                                                    .rock__item2.col-md-4.col-sm-6
                                                        a.rock__item2__top(href="#")
                                                            h3 In Flames Concert [LIVE IN PARIS]  22.03.16
                                                            img(src="img/rock2"+i+".jpg")
                                                        .rock__item2__tags #inflames; #metal; #modernmetal
                                        .tab-pane(id="current2", role="tab-panel")
                                            .rock.row
                                                - for(var j = 1; j<=15;j++)
                                                    .rock__item2.col-md-4.col-sm-6
                                                        a.rock__item2__top(href="#")
                                                            h3 In Flames Concert [LIVE IN PARIS]  22.03.16
                                                            img(src="img/rock2" + j + ".jpg")
                                                        .rock__item2__tags #inflames; #metal; #modernmetal
                                        .tab-pane(id="past2", role="tab-panel")
                                            .rock.row
                                                - for(var z = 1; z<=15;z++)
                                                    .rock__item2.col-md-4.col-sm-6
                                                        a.rock__item2__top(href="#")
                                                            h3 In Flames Concert [LIVE IN PARIS]  22.03.16
                                                            img(src="img/rock2" + z + ".jpg")
                                                        .rock__item2__tags #inflames; #metal; #modernmetal
                                .tab-pane(id="clipes",role="tab-panel")
                                    ul.tabs2.tabs23.nav.nav-tabs(role="tablist")
                                        li.nav-item
                                            a.nav-link.active(href="#coming3",data-toggle="tab",role="tab")
                                                i.fa.fa-check
                                                span Предстоящие
                                        li.nav-item
                                            a.nav-link(href="#current3",data-toggle="tab",role="tab")
                                                i.fa.fa-check
                                                span Текущие
                                        li.nav-item
                                            a.nav-link(href="#past3",data-toggle="tab",role="tab")
                                                i.fa.fa-check
                                                span Прошедшие
                        .col-md-4.sidebar
                            h2.sidebar__title НОВОСТИ
                            div.sidebar__news
                                .sidebar__new
                                    .sidebar__new__date 14.05.15
                                    a(href="#")
                                        h3
                                            | RAM
                                            i.fa.fa-angle-right
                                            | Green Day примут участие в фестивале!
                                    a(href="#")
                                        p Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket für alle Festivalbesucher, die ein Erlebnis der besonderen Art suchen. Ihr Camp grenzt an die Hauptbühnen.
                                .sidebar__new
                                    .sidebar__new__date 14.05.15
                                    a(href="#")
                                        h3
                                            | RAM
                                            i.fa.fa-angle-right
                                            | Green Day примут участие в фестивале!
                                    a(href="#")
                                        p Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket für alle Festivalbesucher, die ein Erlebnis der besonderen Art suchen. Ihr Camp grenzt an die Hauptbühnen.
                                .sidebar__new
                                    .sidebar__new__date 14.05.15
                                    a(href="#")
                                        h3
                                            | RAM
                                            i.fa.fa-angle-right
                                            | Green Day примут участие в фестивале!
                                    a(href="#")
                                        p Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket für alle Festivalbesucher, die ein Erlebnis der besonderen Art suchen. Ihr Camp grenzt an die Hauptbühnen.
                                .sidebar__new
                                    .sidebar__new__date 14.05.15
                                    a(href="#")
                                        h3
                                            | RAM
                                            i.fa.fa-angle-right
                                            | Green Day примут участие в фестивале!
                                    a(href="#")
                                        p Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket für alle Festivalbesucher, die ein Erlebnis der besonderen Art suchen. Ihr Camp grenzt an die Hauptbühnen.
                            a.btn.btn-grey(href="#")
                                span Перейти ко всем новостям
                                i.fa.fa-long-arrow-right
                            .subscribe
                                img(src="img/simpson.png")
                                input(type="text",placeholder="Введите ваш E-Mail")
                                input.btn.btn-salat(type="submit",value="Подписаться на новости")
        include _footer