doctype html
html.no-js(lang='ru')
    include _head
    body
        include _header3
        .info-content
            .inner
                .container-fluid
                    .row
                        .col-md-12
                            .bread-crubms
                                a.bread-crubms-single(href="#")
                                    span Главная
                                    i.fa.fa-caret-right
                        .col-md-12
                            p.p1-el билеты на download fest 2016
                    .row
                        .col-lg-4.col-md-12
                            img.img-dwn(src="img/dwnfest.png")
                        .col-lg-8.col-md-12
                            .info-block
                                ul.mnu-info
                                    h4.h4-info 10 ИЮНЯ  (ДЕНЬ 1)
                                    li Linkin park
                                    li hollywood undead
                                    li in flames
                                    li disturbed
                                    li bring me the horizon
                                    li our last night
                                    li skillet
                                    li within temptation
                                    li parkway drive
                                    li rob zombie
                                    li slipknot
                                    li RED
                                    li THOUSAND FOOT CRUTCH
                                    li FALL OUT BOY
                                ul.mnu-info
                                    h4.h4-info 11 ИЮНЯ  (ДЕНЬ 2)
                                    li Linkin park
                                    li hollywood undead
                                    li in flames
                                    li disturbed
                                    li bring me the horizon
                                    li our last night
                                    li skillet
                                    li within temptation
                                    li parkway drive
                                    li rob zombie
                                    li slipknot
                                    li RED
                                    li THOUSAND FOOT CRUTCH
                                    li FALL OUT BOY
                                ul.mnu-info
                                    h4.h4-info 12 ИЮНЯ  (ДЕНЬ 3)
                                    li Linkin park
                                    li hollywood undead
                                    li in flames
                                    li disturbed
                                    li bring me the horizon
                                    li our last night
                                    li skillet
                                    li within temptation
                                    li parkway drive
                                    li rob zombie
                                    li slipknot
                                    li RED
                                    li THOUSAND FOOT CRUTCH
                                    li FALL OUT BOY
        .motiv
            .inner
                .container-fluid
                    .row
                        .col-md-5
                            h3 КРАТКОЕ МОТИВИРУЕЩЕЕ ОПИСАНИЕ
                            p Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket für alle Festivalbesucher, die ein Erlebnis der besonderen Art suchen. Ihr Camp grenzt an die Hauptbühnen. Besondere Benefits sind reservierte Parkbereiche und coole, komplett ausgestattete, wertige Übernachtungsmöglichkeiten für zwei bis vier Personen.
                            p.p-motiv
                                span Официальный сайт:
                                a.a-item-1(href="#") www.downloadfest.com
                        .col-md-7
                            iframe(src="https://www.youtube.com/embed/Gkp8-44elNM" frameborder="0" allowfullscreen)
        .place
            .inner
                .container-fluid
                    .row
                        .col-md-8.sidebar2
                            h2.sidebar__title МЕСТО ПРОВЕДЕНИЯ И РАЗМЕЩЕНИЕ
                            h3.h3-place Warum dürfen die Besucher keine eigenen Stromaggregate betreiben?
                            p.p-place Der Flugplatz Mendig liegt in einem Wasserschutzgebiet, deshalb sind Aggregate von Besuchern nicht erlaubt.
                            h3.h3-place Stromversorgung im Rock'n'Roll Campingbereich
                            p.p-place Auf den Rock‘n’Roll-Campingflächen werden den Besuchern Stromanschlüsse zur gemeinsamen Nutzung zur Verfügung gestellt. Diese Stromanschlüsse befinden sich in maximal 50m Entfernung. Die Versorgung erfolgt dezentral mit vielen kleineren Stromaggregaten und Verteilerkästen. Dadurch werden die mit langen Kabelwegen verbundenen Stolperfallen vermieden und eine hohe Versorgungssicherheit gewährleistet.
                            p.p-place Die Anschlüsse werden in einzeln abgesicherten 220V-Schuko-Steckdosen zur Verfügung gestellt. Die Besucher sollten zur Unterverteilung entsprechende outdoor-taugliche (!) Verlängerungskabel oder outdoor-taugliche Kabeltrommeln von 50m Länge mitbringen.
                            img.img-place(src="img/downloadfestivalmap-1340px.png")
                            p.p-place Jeweils etwa 500-550 Besuchern auf einer Campingparzelle ist ein Aggregat zugeordnet, an dem in zwei Verteilerkästen insgesamt 50 Steckplätze zur Verfügung stehen. Der Stromanschluss erfolgt über normale Schuko-Steckdosen. Die Stromabnahme ist auf 2.000 Watt pro Anschluss begrenzt, 9-10 Besucher teilen sich einen solchen Anschluss, rechnerisch stehen für jeden Besucher also in etwa 200W Anschlussleistung zur Verfügung.
                            h3.h3-place Bereitstellungszeitraum und Service
                            p.p-place Die Anschlüsse werden von Öffnung der Campingflächen bis Montag, 06.06.2016, 09:00 Uhr, bereitgestellt und betrieben. In diesem Zeitraum sind auch Elektriker vor Ort ansprechbar, die Euch bei Problemen mit der Nutzung der Anschlüsse behilflich sein können.
                        .col-md-4.sidebar2
                            h2.sidebar__title НОВОСТИ
                            div.sidebar__news
                                .sidebar__new
                                    .sidebar__new__date 14.05.15
                                    a(href="#")
                                        h3
                                            | RAM
                                            i.fa.fa-angle-right
                                            | Green Day примут участие в фестивале!
                                    a(href="#")
                                        p Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket für alle Festivalbesucher, die ein Erlebnis der besonderen Art suchen. Ihr Camp grenzt an die Hauptbühnen.
                                .sidebar__new
                                    .sidebar__new__date 14.05.15
                                    a(href="#")
                                        h3
                                            | RAM
                                            i.fa.fa-angle-right
                                            | Green Day примут участие в фестивале!
                                    a(href="#")
                                        p Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket für alle Festivalbesucher, die ein Erlebnis der besonderen Art suchen. Ihr Camp grenzt an die Hauptbühnen.
                                .sidebar__new
                                    .sidebar__new__date 14.05.15
                                    a(href="#")
                                        h3
                                            | RAM
                                            i.fa.fa-angle-right
                                            | Green Day примут участие в фестивале!
                                    a(href="#")
                                        p Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket für alle Festivalbesucher, die ein Erlebnis der besonderen Art suchen. Ihr Camp grenzt an die Hauptbühnen.
                                .sidebar__new
                                    .sidebar__new__date 14.05.15
                                    a(href="#")
                                        h3
                                            | RAM
                                            i.fa.fa-angle-right
                                            | Green Day примут участие в фестивале!
                                    a(href="#")
                                        p Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket für alle Festivalbesucher, die ein Erlebnis der besonderen Art suchen. Ihr Camp grenzt an die Hauptbühnen.
                            a.btn.btn-grey(href="#")
                                span Перейти ко всем новостям
                                i.fa.fa-long-arrow-right
                            .subscribe
                                img(src="img/simpson.png")
                                input(type="text",placeholder="Введите ваш E-Mail")
                                input.btn.btn-salat(type="submit",value="Подписаться на новости")
        include _footer