doctype html
html.no-js(lang='ru')
    include _head
    body
        include _header3
        .content.content-mod
            .inner
                .container-fluid
                    .row
                        .col-md-12
                            .bread-crubms
                                a.bread-crubms-single(href="#")
                                    span Главная
                                    i.fa.fa-caret-right
                        .col-md-12
                            p.p1-el билеты на download fest 2016
                    .row
                        .col-md-8.sidebar2
                            h2.sidebar__title LINE UP ФЕСТИВАЛЯ
                            .tickets-item.tickets-item_mod
                                h5 10 июня (день 1)
                                .tickets-item_block
                                    h6 ПЛОЩАДКА MAIN STAGE
                                    p.p-line 12:00 - 12:30 - hollywood undead
                                    p.p-line 12:00 - 12:30 - in flames
                                    p.p-line 12:00 - 12:30 - disturbed
                                    p.p-line 12:00 - 12:30 - bring me the horizon
                                    p.p-line 12:00 - 12:30 - our last night
                                .tickets-item_block
                                    h6 ПЛОЩАДКА MAIN STAGE
                                    p.p-line 12:00 - 12:30 - hollywood undead
                                    p.p-line 12:00 - 12:30 - in flames
                                    p.p-line 12:00 - 12:30 - disturbed
                                    p.p-line 12:00 - 12:30 - bring me the horizon
                                    p.p-line 12:00 - 12:30 - our last night
                                h4 12:00 - 12:30 - ENCORE
                                .tickets-item_block
                                    p.p-line 12:00 - 12:30 - hollywood undead
                                    p.p-line 12:00 - 12:30 - in flames
                                    p.p-line 12:00 - 12:30 - disturbed
                                    p.p-line 12:00 - 12:30 - bring me the horizon
                                    p.p-line 12:00 - 12:30 - our last night
                                    p.p-line 12:00 - 12:30 - disturbed
                                    p.p-line 12:00 - 12:30 - bring me the horizon
                                    p.p-line 12:00 - 12:30 - our last night
                                h4 12:00 - 12:30 - ENCORE
                                .tickets-item_block
                                    p.p-line 12:00 - 12:30 - hollywood undead
                                    p.p-line 12:00 - 12:30 - in flames
                                    p.p-line 12:00 - 12:30 - disturbed
                                    p.p-line 12:00 - 12:30 - bring me the horizon
                                    p.p-line 12:00 - 12:30 - our last night
                                    p.p-line 12:00 - 12:30 - disturbed
                            .tickets-item.tickets-item_mod
                                h5 10 июня (день 1)
                                .tickets-item_block
                                    h6 ПЛОЩАДКА MAIN STAGE
                                    p.p-line 12:00 - 12:30 - hollywood undead
                                    p.p-line 12:00 - 12:30 - in flames
                                    p.p-line 12:00 - 12:30 - disturbed
                                    p.p-line 12:00 - 12:30 - bring me the horizon
                                    p.p-line 12:00 - 12:30 - our last night
                                .tickets-item_block
                                    h6 ПЛОЩАДКА MAIN STAGE
                                    p.p-line 12:00 - 12:30 - hollywood undead
                                    p.p-line 12:00 - 12:30 - in flames
                                    p.p-line 12:00 - 12:30 - disturbed
                                    p.p-line 12:00 - 12:30 - bring me the horizon
                                    p.p-line 12:00 - 12:30 - our last night
                                h4 12:00 - 12:30 - ENCORE
                                .tickets-item_block
                                    p.p-line 12:00 - 12:30 - hollywood undead
                                    p.p-line 12:00 - 12:30 - in flames
                                    p.p-line 12:00 - 12:30 - disturbed
                                    p.p-line 12:00 - 12:30 - bring me the horizon
                                    p.p-line 12:00 - 12:30 - our last night
                                    p.p-line 12:00 - 12:30 - disturbed
                                    p.p-line 12:00 - 12:30 - bring me the horizon
                                    p.p-line 12:00 - 12:30 - our last night
                                h4 12:00 - 12:30 - ENCORE
                                .tickets-item_block
                                    p.p-line 12:00 - 12:30 - hollywood undead
                                    p.p-line 12:00 - 12:30 - in flames
                                    p.p-line 12:00 - 12:30 - disturbed
                                    p.p-line 12:00 - 12:30 - bring me the horizon
                                    p.p-line 12:00 - 12:30 - our last night
                                    p.p-line 12:00 - 12:30 - disturbed
                        .col-md-4.sidebar2
                            h2.sidebar__title НОВОСТИ
                            div.sidebar__news
                                .sidebar__new
                                    .sidebar__new__date 14.05.15
                                    a(href="#")
                                        h3
                                            | RAM
                                            i.fa.fa-angle-right
                                            | Green Day примут участие в фестивале!
                                    a(href="#")
                                        p Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket für alle Festivalbesucher, die ein Erlebnis der besonderen Art suchen. Ihr Camp grenzt an die Hauptbühnen.
                                .sidebar__new
                                    .sidebar__new__date 14.05.15
                                    a(href="#")
                                        h3
                                            | RAM
                                            i.fa.fa-angle-right
                                            | Green Day примут участие в фестивале!
                                    a(href="#")
                                        p Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket für alle Festivalbesucher, die ein Erlebnis der besonderen Art suchen. Ihr Camp grenzt an die Hauptbühnen.
                                .sidebar__new
                                    .sidebar__new__date 14.05.15
                                    a(href="#")
                                        h3
                                            | RAM
                                            i.fa.fa-angle-right
                                            | Green Day примут участие в фестивале!
                                    a(href="#")
                                        p Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket für alle Festivalbesucher, die ein Erlebnis der besonderen Art suchen. Ihr Camp grenzt an die Hauptbühnen.
                                .sidebar__new
                                    .sidebar__new__date 14.05.15
                                    a(href="#")
                                        h3
                                            | RAM
                                            i.fa.fa-angle-right
                                            | Green Day примут участие в фестивале!
                                    a(href="#")
                                        p Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket für alle Festivalbesucher, die ein Erlebnis der besonderen Art suchen. Ihr Camp grenzt an die Hauptbühnen.
                            a.btn.btn-grey(href="#")
                                span Перейти ко всем новостям
                                i.fa.fa-long-arrow-right
                            .subscribe
                                img(src="img/simpson.png")
                                input(type="text",placeholder="Введите ваш E-Mail")
                                input.btn.btn-salat(type="submit",value="Подписаться на новости")
                            a.lineup-item.lineup-item1(href="")
                                //.lineup-item__block 2015
                                //.lineup-item__content
                                //    span.content-1 34
                                //    span.content-2
                                //    span.content-3 группы
                            a.lineup-item.lineup-item2(href="")
                                //.lineup-item__block.lineup-item__block_mod 2014
                            a.lineup-item.lineup-item3(href="")
                                //.lineup-item__block.lineup-item__block_mod 2014
        include _footer