doctype html
html.no-js(lang='ru')
    include _head
    body
        include _header3
        .content.same.content-mod
            .inner
                .container-fluid
                    .row
                        .col-md-12
                            .bread-crubms.clearfix
                                a.bread-crubms-single.bread-crubms-main(href="#")
                                    span Главная
                                    i.fa.fa-caret-right
                                .bread-crubms-multi
                                    a.bread-crubms-single(href="#")
                                        span Главная
                                        i.fa.fa-caret-right
                                    a.bread-crubms-single(href="#")
                                        span Фестивали
                                        i.fa.fa-caret-right
                                    a.bread-crubms-single(href="#")
                                        span Download Fest 2016
                        .col-md-12
                            p.p1-el Download Fest 2016 (10-12 июня)
                    .row
                        .col-md-8.sidebar2
                            h2.sidebar__title ПОХОЖИЕ ФЕСТИВАЛИ
                            .sort
                                span Сортировать:
                                .sort__item
                                    a.sort__item-top.fa.fa-sort-asc(href="#")
                                    a.sort__item-bot.fa.fa-sort-desc(href="#")
                                    a.a-sort(href="#") по дате
                                .sort__item
                                    a.sort__item-top.fa.fa-sort-asc(href="#")
                                    a.sort__item-bot.fa.fa-sort-desc(href="#")
                                    a.a-sort(href="#") по популярности
                            .rock.row
                                - for(var i = 1; i<=15;i++)
                                    .rock__item2.col-md-4.col-sm-6
                                        a.rock__item2__top(href="#")
                                            h3 In Flames Concert [LIVE IN PARIS]  22.03.16
                                            img(src="img/rock2" + i + ".jpg")
                                        a.rock__item2__tags(href="#") #inflames;
                                        a.rock__item2__tags(href="#") #metal;
                                        a.rock__item2__tags(href="#") #modernmetal
                            .col-md-12
                                .mnu-nmbr
                                    a.mnu-arrow-left.fa.fa-caret-left(href="#")
                                    a.mnu-arrow-right.fa.fa-caret-right(href="#")
                                    ul.clearfix
                                        li
                                            a(href="#") 1
                                        li.nmbr-active
                                            a(href="#") 2
                                        li
                                            a(href="#") 3
                                        li
                                            a(href="#") 4
                                        li
                                            a(href="#") 5
                                        li
                                            a(href="#") 6
                                        li
                                            a(href="#") 7
                        .col-md-4.sidebar2
                            h2.sidebar__title НОВОСТИ
                            include _newsblock
                            a.btn.btn-grey(href="#")
                                span Перейти ко всем новостям
                                i.fa.fa-long-arrow-right
                            .subscribe
                                img(src="img/simpson.png")
                                input(type="text",placeholder="Введите ваш E-Mail")
                                input.btn.btn-salat(type="submit",value="Подписаться на новости")
        include _footer