include _header2
.content.live
    .inner
        .container-fluid
            .row
                .col-md-12
                    .bread-crubms
                        a.bread-crubms-single(href="#")
                            span Главная
                            i.fa.fa-caret-right
                .col-md-12
                    p.p1-el In Flames Concert  [LIVE IN PARIS]  22.03.16
                .col-md-12
                    iframe(src="https://www.youtube.com/embed/Gkp8-44elNM" frameborder="0" allowfullscreen)
                    .pull-left.video-float
                        span.hash-t #inflames; #metal; #modernmetal
                    .pull-right.video-float
                        .block-views
                            .block-views__item
                                i.fa.fa-eye
                                span 1 256 105
                            .block-views__item
                                i.fa.fa-comment
                                span 6 105
            .row
                .col-md-8
                    .published
                        p
                            span Опубликовано
                            | : 24 нояб. 2014 г.
                        p
                            |In Flames live at Palladium Cologne Setlist+timecodes
                            span.a-time-line.fa.fa-chevron-down
                        .time-line
                            ul
                                li 1. In Plain View
                                    a(href="#") 0:00
                                li 2. Everything's Gone
                                    a(href="#") 3:44
                                li 3. Fear Is The Weakness
                                    a(href="#") 7:15
                                li 4. Trigger
                                    a(href="#") 12:54
                                li 5. Resin
                                    a(href="#") 17:22
                                li 6. Where The Dead Ships Dwell
                                    a(href="#") 21:02
                                li 7. With Eyes Wide Open
                                    a(href="#") 25:19
                                li 8. Paralyzed
                                    a(href="#") 29:20
                                li 9. Through Oblivion
                                    a(href="#") 33:35
                                li 9. Through Oblivion
                                    a(href="#") 37:10
                            ul
                                li 11. Delight And Angers
                                    a(href="#") 40:57
                                li 12. Cloud Connected
                                    a(href="#") 44:43
                                li 13. Only For The Weak
                                    a(href="#") 53:51
                                li 14. The Chosen Pessimist
                                    a(href="#") 58:27
                                li 15. The Quiet Place
                                    a(href="#") 1:06:15
                                li 16. Rusted Nail
                                    a(href="#") 1:09:39
                                li 17. The Mirror's Truth
                                    a(href="#") 1:14:28
                                li 18. Deliver Us
                                    a(href="#") 1:17:42
                                li 19. Take This Life
                                    a(href="#") 1:21:12
                    .feed-back-send
                        form
                            label
                                span Ваше имя:
                                input(type="text")
                            textarea
                            .captcha
                                .captcha-content
                                textarea.captcha-text
                            .pull-right.captcha-btn
                                button.btn.btn-grn(type="send") Отправить
                    .feed-back-item
                        p
                            span Михаил |
                            | 23.08.15
                        p
                            |Лучший клон TREX 100. В интернете на разных сайтах предлагают комплекты металлоапргрейда данного вертолета. Так вот эти апргрейды этому ЛА не нужны. Дают только лишний. При крушении металические детали разрезат пластиковые. Вообщем это выкинутые деньги, на них лучше 200 мач акумуляторов купить к нему.
                        a.a-comment(href="#") Комментировать
                    .feed-back-item
                        p
                            span Михаил |
                            | 23.08.15
                        p
                            | Лучший клон TREX 100. В интернете на разных сайтах предлагают комплекты металлоапргрейда данного вертолета. Так вот эти апргрейды этому ЛА не нужны. Дают только лишний. При крушении металические детали разрезат пластиковые. Вообщем это выкинутые деньги, на них лучше 200 мач акумуляторов купить к нему.
                        a.a-comment(href="#") Комментировать
                    .feed-back
                        .feed-back-item
                            p
                                span Михаил |
                                | 23.08.15
                            p
                                | Лучший клон TREX 100. В интернете на разных сайтах предлагают комплекты металлоапргрейда данного вертолета. Так вот эти апргрейды этому ЛА не нужны. Дают только лишний. При крушении металические детали разрезат пластиковые. Вообщем это выкинутые деньги, на них лучше 200 мач акумуляторов купить к нему.
                            a.a-comment(href="#") Комментировать
                        .feed-back-item.feed-back-item-comment
                            p
                                span Виталий |
                                | 23.08.15
                            p
                                | Лучший клон TREX 100. В интернете на разных сайтах предлагают комплекты металлоапргрейда данного вертолета. Так вот эти апргрейды этому ЛА не нужны. Дают только лишний. При крушении металические детали разрезат пластиковые. Вообщем это выкинутые деньги, на них лучше 200 мач акумуляторов купить к нему.
                            a.a-comment(href="#") Комментировать
                            .feed-back-date 23.08.15
                    .feed-back
                        .feed-back-item
                            p
                                span Михаил |
                                | 23.08.15
                            p
                                | Лучший клон TREX 100. В интернете на разных сайтах предлагают комплекты металлоапргрейда данного вертолета. Так вот эти апргрейды этому ЛА не нужны. Дают только лишний. При крушении металические детали разрезат пластиковые. Вообщем это выкинутые деньги, на них лучше 200 мач акумуляторов купить к нему.
                            a.a-comment(href="#") Комментировать
                        .feed-back-item.feed-back-item-comment
                            p
                                span Виталий |
                                | 23.08.15
                            p
                                | Лучший клон TREX 100. В интернете на разных сайтах предлагают комплекты металлоапргрейда данного вертолета. Так вот эти апргрейды этому ЛА не нужны. Дают только лишний. При крушении металические детали разрезат пластиковые. Вообщем это выкинутые деньги, на них лучше 200 мач акумуляторов купить к нему.
                            a.a-comment(href="#") Комментировать
                            .feed-back-date 23.08.15
                    .mnu-nmbr
                        a.mnu-arrow-left.fa.fa-caret-left(href="#")
                        a.mnu-arrow-right.fa.fa-caret-right(href="#")
                        ul.clearfix
                            li
                                a(href="#") 1
                            li.nmbr-active
                                a(href="#") 2
                            li
                                a(href="#") 3
                            li
                                a(href="#") 4
                            li
                                a(href="#") 5
                            li
                                a(href="#") 6
                            li
                                a(href="#") 7
                .col-md-4.sidebar
                    h2.sidebar__title НОВОСТИ
                    div.sidebar__news
                        .sidebar__new
                            .sidebar__new__date 14.05.15
                            a(href="#")
                                h3
                                    | RAM
                                    i.fa.fa-angle-right
                                    | Green Day примут участие в фестивале!
                            a(href="#")
                                p Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket für alle Festivalbesucher, die ein Erlebnis der besonderen Art suchen. Ihr Camp grenzt an die Hauptbühnen.
                        .sidebar__new
                            .sidebar__new__date 14.05.15
                            a(href="#")
                                h3
                                    | RAM
                                    i.fa.fa-angle-right
                                    | Green Day примут участие в фестивале!
                            a(href="#")
                                p Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket für alle Festivalbesucher, die ein Erlebnis der besonderen Art suchen. Ihr Camp grenzt an die Hauptbühnen.
                        .sidebar__new
                            .sidebar__new__date 14.05.15
                            a(href="#")
                                h3
                                    | RAM
                                    i.fa.fa-angle-right
                                    | Green Day примут участие в фестивале!
                            a(href="#")
                                p Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket für alle Festivalbesucher, die ein Erlebnis der besonderen Art suchen. Ihr Camp grenzt an die Hauptbühnen.
                        .sidebar__new
                            .sidebar__new__date 14.05.15
                            a(href="#")
                                h3
                                    | RAM
                                    i.fa.fa-angle-right
                                    | Green Day примут участие в фестивале!
                            a(href="#")
                                p Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket für alle Festivalbesucher, die ein Erlebnis der besonderen Art suchen. Ihr Camp grenzt an die Hauptbühnen.
                    a.btn.btn-grey(href="#")
                        span Перейти ко всем новостям
                        i.fa.fa-long-arrow-right
                    .subscribe
                        img(src="img/simpson.png")
                        input(type="text",placeholder="Введите ваш E-Mail")
                        input.btn.btn-salat(type="submit",value="Подписаться на новости")
include _footer