include _header2
.content.news
    .inner
        .container-fluid
            .row
                .col-md-12
                    h1.h1-fest новости
                    .sort
                        span Сортировать:
                        .sort__item
                            a.sort__item-top.fa.fa-sort-asc(href="#")
                            a.sort__item-bot.fa.fa-sort-desc(href="#")
                            span по дате
                        .sort__item
                            a.sort__item-top.fa.fa-sort-asc(href="#")
                            a.sort__item-bot.fa.fa-sort-desc(href="#")
                            span по популярности
                        .sidebar__new
                            .sidebar__new__date 14.05.15
                            a(href="#")
                                h3
                                    | RAM
                                    i.fa.fa-angle-right
                                    | Green Day примут участие в фестивале!
                            a(href="#")
                                p Auf den Rock‘n’Roll-Campingflächen werden den Besuchern Stromanschlüsse zur gemeinsamen Nutzung zur Verfügung gestellt. Diese Stromanschlüsse befinden sich in maximal 50m Entfernung. Die Versorgung erfolgt dezentral mit vielen kleineren Stromaggregaten und Verteilerkästen. Dadurch werden die mit langen Kabelwegen verbundenen Stolperfallen vermieden und eine hohe Versorgungssicherheit gewährleistet.
                        .sidebar__new
                            .sidebar__new__date 14.05.15
                            a(href="#")
                                h3
                                    | RAM
                                    i.fa.fa-angle-right
                                    | Green Day примут участие в фестивале!
                            a(href="#")
                                p Auf den Rock‘n’Roll-Campingflächen werden den Besuchern Stromanschlüsse zur gemeinsamen Nutzung zur Verfügung gestellt. Diese Stromanschlüsse befinden sich in maximal 50m Entfernung. Die Versorgung erfolgt dezentral mit vielen kleineren Stromaggregaten und Verteilerkästen. Dadurch werden die mit langen Kabelwegen verbundenen Stolperfallen vermieden und eine hohe Versorgungssicherheit gewährleistet.
                        .sidebar__new
                            .sidebar__new__date 14.05.15
                            a(href="#")
                                h3
                                    | RAM
                                    i.fa.fa-angle-right
                                    | Green Day примут участие в фестивале!
                            a(href="#")
                                p Auf den Rock‘n’Roll-Campingflächen werden den Besuchern Stromanschlüsse zur gemeinsamen Nutzung zur Verfügung gestellt. Diese Stromanschlüsse befinden sich in maximal 50m Entfernung. Die Versorgung erfolgt dezentral mit vielen kleineren Stromaggregaten und Verteilerkästen. Dadurch werden die mit langen Kabelwegen verbundenen Stolperfallen vermieden und eine hohe Versorgungssicherheit gewährleistet.
                        h2.sidebar__title 2015
                        .sidebar__new
                            .sidebar__new__date 14.05.15
                            a(href="#")
                                h3
                                    | RAM
                                    i.fa.fa-angle-right
                                    | Green Day примут участие в фестивале!
                            a(href="#")
                                p Auf den Rock‘n’Roll-Campingflächen werden den Besuchern Stromanschlüsse zur gemeinsamen Nutzung zur Verfügung gestellt. Diese Stromanschlüsse befinden sich in maximal 50m Entfernung. Die Versorgung erfolgt dezentral mit vielen kleineren Stromaggregaten und Verteilerkästen. Dadurch werden die mit langen Kabelwegen verbundenen Stolperfallen vermieden und eine hohe Versorgungssicherheit gewährleistet.
                        .sidebar__new
                            .sidebar__new__date 14.05.15
                            a(href="#")
                                h3
                                    | RAM
                                    i.fa.fa-angle-right
                                    | Green Day примут участие в фестивале!
                            a(href="#")
                                p Auf den Rock‘n’Roll-Campingflächen werden den Besuchern Stromanschlüsse zur gemeinsamen Nutzung zur Verfügung gestellt. Diese Stromanschlüsse befinden sich in maximal 50m Entfernung. Die Versorgung erfolgt dezentral mit vielen kleineren Stromaggregaten und Verteilerkästen. Dadurch werden die mit langen Kabelwegen verbundenen Stolperfallen vermieden und eine hohe Versorgungssicherheit gewährleistet.
                        .mnu-nmbr
                            a.mnu-arrow-left.fa.fa-caret-left(href="#")
                            a.mnu-arrow-right.fa.fa-caret-right(href="#")
                            ul.clearfix
                                li
                                    a(href="#") 1
                                li.nmbr-active
                                    a(href="#") 2
                                li
                                    a(href="#") 3
                                li
                                    a(href="#") 4
                                li
                                    a(href="#") 5
                                li
                                    a(href="#") 6
                                li
                                    a(href="#") 7
include _footer