doctype html
html.no-js(lang='ru')
    include _head
    body
        include _header3
        .content.same.content-mod
            .inner
                .container-fluid
                    .row
                        .col-md-12
                            .bread-crubms.clearfix
                                a.bread-crubms-single.bread-crubms-main(href="#")
                                    span Главная
                                    i.fa.fa-caret-right
                                .bread-crubms-multi
                                    a.bread-crubms-single(href="#")
                                        span Главная
                                        i.fa.fa-caret-right
                                    a.bread-crubms-single(href="#")
                                        span Фестивали
                                        i.fa.fa-caret-right
                                    a.bread-crubms-single(href="#")
                                        span Download Fest 2016
                        .col-md-12
                            p.p1-el Download Fest 2016 (10-12 июня)
                    .row
                        .col-md-8.sidebar2
                            h2.sidebar__title ПОХОЖИЕ ФЕСТИВАЛИ
                            .rock.row
                                div.col-sm-4.rock__item
                                    a(href="#")
                                        h3
                                            strong Global East Rock fest
                                            | 2016  (10-12 июня)
                                    .rock__item__img
                                        a(href="#")
                                            img(src="img/rock1.jpg")
                                        div.rock__item__news
                                            .rock__item__new
                                                .rock__item__new__date 14.05.15
                                                a(href="#")
                                                    p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                            .rock__item__new
                                                .rock__item__new__date 14.05.15
                                                a(href="#")
                                                    p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                            .rock__item__new
                                                .rock__item__new__date 14.05.15
                                                a(href="#")
                                                    p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                            a(href="#")
                                                span Читать все
                                                i.fa.fa-long-arrow-right
                                div.col-sm-4.rock__item
                                    a(href="#")
                                        h3
                                            strong ROCK YOU!
                                            | 2016  (10-12 июня)
                                    .rock__item__img
                                        a(href="#")
                                            img(src="img/rock2.jpg")
                                        div.rock__item__news
                                            .rock__item__new
                                                .rock__item__new__date 14.05.15
                                                a(href="#")
                                                    p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                            .rock__item__new
                                                .rock__item__new__date 14.05.15
                                                a(href="#")
                                                    p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                            .rock__item__new
                                                .rock__item__new__date 14.05.15
                                                a(href="#")
                                                    p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                            a(href="#")
                                                span Читать все
                                                i.fa.fa-long-arrow-right

                                div.col-sm-4.rock__item
                                    a(href="#")
                                        h3
                                            strong ПРО РОК
                                            | 2016  (10-12 июня)
                                    .rock__item__img
                                        a(href="#")
                                            img(src="img/rock3.jpg")
                                        div.rock__item__news
                                            .rock__item__new
                                                .rock__item__new__date 14.05.15
                                                a(href="#")
                                                    p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                            .rock__item__new
                                                .rock__item__new__date 14.05.15
                                                a(href="#")
                                                    p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                            .rock__item__new
                                                .rock__item__new__date 14.05.15
                                                a(href="#")
                                                    p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                            a(href="#")
                                                span Читать все
                                                i.fa.fa-long-arrow-right
                                div.col-sm-4.rock__item
                                    a(href="#")
                                        h3
                                            strong HARD ROCK MOSCOW FESTIVAL
                                            | 2016  (10-12 июня)
                                    .rock__item__img
                                        a(href="#")
                                            img(src="img/rock4.jpg")
                                        div.rock__item__news
                                            .rock__item__new
                                                .rock__item__new__date 14.05.15
                                                a(href="#")
                                                    p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                            .rock__item__new
                                                .rock__item__new__date 14.05.15
                                                a(href="#")
                                                    p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                            .rock__item__new
                                                .rock__item__new__date 14.05.15
                                                a(href="#")
                                                    p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                            a(href="#")
                                                span Читать все
                                                i.fa.fa-long-arrow-right
                                div.col-sm-4.rock__item
                                    a(href="#")
                                        h3
                                            strong Global East Rock fest
                                            | 2016  (10-12 июня)
                                    .rock__item__img
                                        a(href="#")
                                            img(src="img/rock5.jpg")
                                        div.rock__item__news
                                            .rock__item__new
                                                .rock__item__new__date 14.05.15
                                                a(href="#")
                                                    p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                            .rock__item__new
                                                .rock__item__new__date 14.05.15
                                                a(href="#")
                                                    p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                            .rock__item__new
                                                .rock__item__new__date 14.05.15
                                                a(href="#")
                                                    p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                            a(href="#")
                                                span Читать все
                                                i.fa.fa-long-arrow-right

                                div.col-sm-4.rock__item
                                    a(href="#")
                                        h3
                                            strong рокЁ!лка
                                            | 2016  (10-12 июня)
                                    .rock__item__img
                                        a(href="#")
                                            img(src="img/rock6.jpg")
                                        div.rock__item__news
                                            .rock__item__new
                                                .rock__item__new__date 14.05.15
                                                a(href="#")
                                                    p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                            .rock__item__new
                                                .rock__item__new__date 14.05.15
                                                a(href="#")
                                                    p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                            .rock__item__new
                                                .rock__item__new__date 14.05.15
                                                a(href="#")
                                                    p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                            a(href="#")
                                                span Читать все
                                                i.fa.fa-long-arrow-right

                                div.col-sm-4.rock__item
                                    a(href="#")
                                        h3
                                            strong PROSTOROCK
                                            | 2016  (10-12 июня)
                                    .rock__item__img
                                        a(href="#")
                                            img(src="img/rock7.jpg")
                                        div.rock__item__news
                                            .rock__item__new
                                                .rock__item__new__date 14.05.15
                                                a(href="#")
                                                    p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                            .rock__item__new
                                                .rock__item__new__date 14.05.15
                                                a(href="#")
                                                    p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                            .rock__item__new
                                                .rock__item__new__date 14.05.15
                                                a(href="#")
                                                    p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                            a(href="#")
                                                span Читать все
                                                i.fa.fa-long-arrow-right
                                div.col-sm-4.rock__item
                                    a(href="#")
                                        h3
                                            strong эпидемия
                                            | 2016  (10-12 июня)
                                    .rock__item__img
                                        a(href="#")
                                            img(src="img/rock8.jpg")
                                        div.rock__item__news
                                            .rock__item__new
                                                .rock__item__new__date 14.05.15
                                                a(href="#")
                                                    p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                            .rock__item__new
                                                .rock__item__new__date 14.05.15
                                                a(href="#")
                                                    p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                            .rock__item__new
                                                .rock__item__new__date 14.05.15
                                                a(href="#")
                                                    p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                            a(href="#")
                                                span Читать все
                                                i.fa.fa-long-arrow-right

                                div.col-sm-4.rock__item
                                    a(href="#")
                                        h3
                                            strong soulfly
                                            | 2016  (10-12 июня)
                                    .rock__item__img
                                        a(href="#")
                                            img(src="img/rock9.jpg")
                                        div.rock__item__news
                                            .rock__item__new
                                                .rock__item__new__date 14.05.15
                                                a(href="#")
                                                    p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                            .rock__item__new
                                                .rock__item__new__date 14.05.15
                                                a(href="#")
                                                    p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                            .rock__item__new
                                                .rock__item__new__date 14.05.15
                                                a(href="#")
                                                    p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                            a(href="#")
                                                span Читать все
                                                i.fa.fa-long-arrow-right
                                div.col-sm-4.rock__item
                                    a(href="#")
                                        h3
                                            strong eskimo callboy
                                            | 2016  (10-12 июня)
                                    .rock__item__img
                                        a(href="#")
                                            img(src="img/rock10.jpg")
                                        div.rock__item__news
                                            .rock__item__new
                                                .rock__item__new__date 14.05.15
                                                a(href="#")
                                                    p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                            .rock__item__new
                                                .rock__item__new__date 14.05.15
                                                a(href="#")
                                                    p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                            .rock__item__new
                                                .rock__item__new__date 14.05.15
                                                a(href="#")
                                                    p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                            a(href="#")
                                                span Читать все
                                                i.fa.fa-long-arrow-right
                                div.col-sm-4.rock__item
                                    a(href="#")
                                        h3
                                            strong amatory
                                            | 2016  (10-12 июня)
                                    .rock__item__img
                                        a(href="#")
                                            img(src="img/rock11.jpg")
                                        div.rock__item__news
                                            .rock__item__new
                                                .rock__item__new__date 14.05.15
                                                a(href="#")
                                                    p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                            .rock__item__new
                                                .rock__item__new__date 14.05.15
                                                a(href="#")
                                                    p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                            .rock__item__new
                                                .rock__item__new__date 14.05.15
                                                a(href="#")
                                                    p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                            a(href="#")
                                                span Читать все
                                                i.fa.fa-long-arrow-right

                                div.col-sm-4.rock__item
                                    a(href="#")
                                        h3
                                            strong hollywood undead
                                            | 2016  (10-12 июня)
                                    .rock__item__img
                                        a(href="#")
                                            img(src="img/rock12.jpg")
                                        div.rock__item__news
                                            .rock__item__new
                                                .rock__item__new__date 14.05.15
                                                a(href="#")
                                                    p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                            .rock__item__new
                                                .rock__item__new__date 14.05.15
                                                a(href="#")
                                                    p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                            .rock__item__new
                                                .rock__item__new__date 14.05.15
                                                a(href="#")
                                                    p  Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket.
                                            a(href="#")
                                                span Читать все
                                                i.fa.fa-long-arrow-right

                                .col-md-12
                                    .mnu-nmbr
                                        a.mnu-arrow-left.fa.fa-caret-left(href="#")
                                        a.mnu-arrow-right.fa.fa-caret-right(href="#")
                                        ul.clearfix
                                            li
                                                a(href="#") 1
                                            li.nmbr-active
                                                a(href="#") 2
                                            li
                                                a(href="#") 3
                                            li
                                                a(href="#") 4
                                            li
                                                a(href="#") 5
                                            li
                                                a(href="#") 6
                                            li
                                                a(href="#") 7
                        .col-md-4.sidebar2
                            h2.sidebar__title НОВОСТИ
                            include _newsblock
                            a.btn.btn-grey(href="#")
                                span Перейти ко всем новостям
                                i.fa.fa-long-arrow-right
                            .subscribe
                                img(src="img/simpson.png")
                                input(type="text",placeholder="Введите ваш E-Mail")
                                input.btn.btn-salat(type="submit",value="Подписаться на новости")
        include _footer
