doctype html
html.no-js(lang='ru')
    include _head
    body
        include _header3
        .content.content-mod
            .inner
                .container-fluid
                    .row
                        .col-md-12
                            .bread-crubms
                                a.bread-crubms-single(href="#")
                                    span Главная
                                    i.fa.fa-caret-right
                        .col-md-12
                            p.p1-el Download Fest 2016 (10-12 июня)
                    .row
                        .col-md-8.sidebar2
                            h2.sidebar__title СТАТИСТИКА DOWNLOAD FEST 2015
                            a.stat-item.stat-item-1(href="#")
                                i.icon.icon-baraban
                                p
                                    span 34
                                    |группы
                            a.stat-item.stat-item-2(href="#")
                                i.icon.icon-music
                                p
                                    span 124
                                    | песни
                            a.stat-item.stat-item-3(href="#")
                                i.icon.icon-clock
                                p
                                    span 56
                                    | часов
                            a.stat-item.stat-item-4(href="#")
                                i.icon.icon-people
                                p
                                    span 154,894
                                    | зрителей
                        .col-md-4.sidebar2
                            h2.sidebar__title НОВОСТИ
                            include _newsblock
                            a.btn.btn-grey(href="#")
                                span Перейти ко всем новостям
                                i.fa.fa-long-arrow-right
        include _footer