doctype html
html.no-js(lang='ru')
    include _head
    body
        include _header3
        .content.content-mod
            .inner
                .container-fluid
                    .row
                        .col-md-12
                            .bread-crubms
                                a.bread-crubms-single(href="#")
                                    span Главная
                                    i.fa.fa-caret-right
                        .col-md-12
                            p.p1-el Download Fest 2016 (10-12 июня)
                    .row
                        .col-md-8.sidebar2
                            h2.sidebar__title СТАТИСТИКА DOWNLOAD FEST 2015
                            a.stat-item.stat-item-1(href="#")
                                i.icon.icon-baraban
                                p
                                    span 34
                                    |группы
                            a.stat-item.stat-item-2(href="#")
                                i.icon.icon-music
                                p
                                    span 124
                                    | песни
                            a.stat-item.stat-item-3(href="#")
                                i.icon.icon-clock
                                p
                                    span 56
                                    | часов
                            a.stat-item.stat-item-4(href="#")
                                i.icon.icon-people
                                p
                                    span 154,894
                                    | зрителей
                        .col-md-4.sidebar2
                            h2.sidebar__title НОВОСТИ
                            div.sidebar__news
                                .sidebar__new
                                    .sidebar__new__date 14.05.15
                                    a(href="#")
                                        h3
                                            | RAM
                                            i.fa.fa-angle-right
                                            | Green Day примут участие в фестивале!
                                    a(href="#")
                                        p Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket für alle Festivalbesucher, die ein Erlebnis der besonderen Art suchen. Ihr Camp grenzt an die Hauptbühnen.
                                .sidebar__new
                                    .sidebar__new__date 14.05.15
                                    a(href="#")
                                        h3
                                            | RAM
                                            i.fa.fa-angle-right
                                            | Green Day примут участие в фестивале!
                                    a(href="#")
                                        p Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket für alle Festivalbesucher, die ein Erlebnis der besonderen Art suchen. Ihr Camp grenzt an die Hauptbühnen.
                                .sidebar__new
                                    .sidebar__new__date 14.05.15
                                    a(href="#")
                                        h3
                                            | RAM
                                            i.fa.fa-angle-right
                                            | Green Day примут участие в фестивале!
                                    a(href="#")
                                        p Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket für alle Festivalbesucher, die ein Erlebnis der besonderen Art suchen. Ihr Camp grenzt an die Hauptbühnen.
                                .sidebar__new
                                    .sidebar__new__date 14.05.15
                                    a(href="#")
                                        h3
                                            | RAM
                                            i.fa.fa-angle-right
                                            | Green Day примут участие в фестивале!
                                    a(href="#")
                                        p Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket für alle Festivalbesucher, die ein Erlebnis der besonderen Art suchen. Ihr Camp grenzt an die Hauptbühnen.
                            a.btn.btn-grey(href="#")
                                span Перейти ко всем новостям
                                i.fa.fa-long-arrow-right
        include _footer