doctype html
html.no-js(lang='ru')
    include _head
    body
        include _header3
        .content.content-mod
            .inner
                .container-fluid
                    .row
                        .col-md-12
                            .bread-crubms
                                a.bread-crubms-single(href="#")
                                    span Главная
                                    i.fa.fa-caret-right
                        .col-md-12
                            p.p1-el Download Fest 2016 (10-12 июня)
                    .row
                        .col-md-8.sidebar2
                            h2.sidebar__title ОТЗЫВЫ О ФЕСТИВАЛЕ
                            .sort
                                span Сортировать:
                                .sort__item
                                    a.sort__item-top.fa.fa-sort-asc(href="#")
                                    a.sort__item-bot.fa.fa-sort-desc(href="#")
                                    span по дате
                                .sort__item
                                    a.sort__item-top.fa.fa-sort-asc(href="#")
                                    a.sort__item-bot.fa.fa-sort-desc(href="#")
                                    span по популярности
                                a.btn.btn-grn-mod.clearfix(href="#")
                                    i.fa.fa-pencil
                                    span Написать отзыв
                            .feed-back-send
                                form
                                    label
                                        span Ваше имя:
                                        input(type="text")
                                    textarea
                                    .captcha
                                        .captcha-content
                                        textarea.captcha-text
                                    .pull-right.captcha-btn
                                        button.btn.btn-grn(type="send") Отправить
                            .feed-back-item.feed-back-item_mod
                                p.feed-mod
                                    span Михаил |
                                    | 23.08.15
                                .block-feedback
                                    a.btn.btn-feedback.btn-like(href="#")
                                        i.fa.fa-thumbs-up
                                        span 1342
                                    a.btn.btn-feedback.btn-dis(href="#")
                                        i.fa.fa-thumbs-down
                                        span 12
                                p
                                    | Лучший клон TREX 100. В интернете на разных сайтах предлагают комплекты металлоапргрейда данного вертолета. Так вот эти апргрейды этому ЛА не нужны. Дают только лишний. При крушении металические детали разрезат пластиковые. Вообщем это выкинутые деньги, на них лучше 200 мач акумуляторов купить к нему. Лучший клон TREX 100. В интернете на разных сайтах предлагают комплекты металлоапргрейда данного вертолета. Так вот эти апргрейды этому ЛА не нужны. Дают только лишний. При крушении металические детали разрезат пластиковые. Вообщем это выкинутые деньги, на них лучше 200 мач акумуляторов купить к нему.
                                p
                                    | Лучший клон TREX 100. В интернете на разных сайтах предлагают комплекты металлоапргрейда данного вертолета. Так вот эти апргрейды этому ЛА не нужны. Дают только лишний. При крушении металические детали разрезат пластиковые. Вообщем это выкинутые деньги, на них лучше 200 мач акумуляторов купить к нему. Лучший клон TREX 100. В интернете на разных сайтах предлагают комплекты металлоапргрейда данного вертолета. Так вот эти апргрейды этому ЛА не нужны. Дают только лишний. При крушении металические детали разрезат пластиковые. Вообщем это выкинутые деньги, на них лучше 200 мач акумуляторов купить к нему.

                                p
                                    | Лучший клон TREX 100. В интернете на разных сайтах предлагают комплекты металлоапргрейда данного вертолета. Так вот эти апргрейды этому ЛА не нужны. Дают только лишний. При крушении металические детали разрезат пластиковые. Вообщем это выкинутые деньги, на них лучше 200 мач акумуляторов купить к нему.

                            .feed-back-item.feed-back-item_mod
                                p.feed-mod
                                    span Михаил |
                                    | 23.08.15
                                .block-feedback
                                    a.btn.btn-feedback.btn-like(href="#")
                                        i.fa.fa-thumbs-up
                                        span 1342
                                    a.btn.btn-feedback.btn-dis(href="#")
                                        i.fa.fa-thumbs-down
                                        span 12
                                p
                                    | Лучший клон TREX 100. В интернете на разных сайтах предлагают комплекты металлоапргрейда данного вертолета. Так вот эти апргрейды этому ЛА не нужны. Дают только лишний. При крушении металические детали разрезат пластиковые. Вообщем это выкинутые деньги, на них лучше 200 мач акумуляторов купить к нему. Лучший клон TREX 100. В интернете на разных сайтах предлагают комплекты металлоапргрейда данного вертолета. Так вот эти апргрейды этому ЛА не нужны. Дают только лишний. При крушении металические детали разрезат пластиковые. Вообщем это выкинутые деньги, на них лучше 200 мач акумуляторов купить к нему.
                                p
                                    | Лучший клон TREX 100. В интернете на разных сайтах предлагают комплекты металлоапргрейда данного вертолета. Так вот эти апргрейды этому ЛА не нужны. Дают только лишний. При крушении металические детали разрезат пластиковые. Вообщем это выкинутые деньги, на них лучше 200 мач акумуляторов купить к нему. Лучший клон TREX 100. В интернете на разных сайтах предлагают комплекты металлоапргрейда данного вертолета. Так вот эти апргрейды этому ЛА не нужны. Дают только лишний. При крушении металические детали разрезат пластиковые. Вообщем это выкинутые деньги, на них лучше 200 мач акумуляторов купить к нему.

                                p
                                    | Лучший клон TREX 100. В интернете на разных сайтах предлагают комплекты металлоапргрейда данного вертолета. Так вот эти апргрейды этому ЛА не нужны. Дают только лишний. При крушении металические детали разрезат пластиковые. Вообщем это выкинутые деньги, на них лучше 200 мач акумуляторов купить к нему.

                            .mnu-nmbr
                                a.mnu-arrow-left.fa.fa-caret-left(href="#")
                                a.mnu-arrow-right.fa.fa-caret-right(href="#")
                                ul.clearfix
                                    li
                                        a(href="#") 1
                                    li.nmbr-active
                                        a(href="#") 2
                                    li
                                        a(href="#") 3
                                    li
                                        a(href="#") 4
                                    li
                                        a(href="#") 5
                                    li
                                        a(href="#") 6
                                    li
                                        a(href="#") 7
                        .col-md-4.sidebar2
                            h2.sidebar__title НОВОСТИ
                            div.sidebar__news
                                .sidebar__new
                                    .sidebar__new__date 14.05.15
                                    a(href="#")
                                        h3
                                            | RAM
                                            i.fa.fa-angle-right
                                            | Green Day примут участие в фестивале!
                                    a(href="#")
                                        p Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket für alle Festivalbesucher, die ein Erlebnis der besonderen Art suchen. Ihr Camp grenzt an die Hauptbühnen.
                                .sidebar__new
                                    .sidebar__new__date 14.05.15
                                    a(href="#")
                                        h3
                                            | RAM
                                            i.fa.fa-angle-right
                                            | Green Day примут участие в фестивале!
                                    a(href="#")
                                        p Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket für alle Festivalbesucher, die ein Erlebnis der besonderen Art suchen. Ihr Camp grenzt an die Hauptbühnen.
                                .sidebar__new
                                    .sidebar__new__date 14.05.15
                                    a(href="#")
                                        h3
                                            | RAM
                                            i.fa.fa-angle-right
                                            | Green Day примут участие в фестивале!
                                    a(href="#")
                                        p Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket für alle Festivalbesucher, die ein Erlebnis der besonderen Art suchen. Ihr Camp grenzt an die Hauptbühnen.
                                .sidebar__new
                                    .sidebar__new__date 14.05.15
                                    a(href="#")
                                        h3
                                            | RAM
                                            i.fa.fa-angle-right
                                            | Green Day примут участие в фестивале!
                                    a(href="#")
                                        p Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket für alle Festivalbesucher, die ein Erlebnis der besonderen Art suchen. Ihr Camp grenzt an die Hauptbühnen.
                            a.btn.btn-grey(href="#")
                                span Перейти ко всем новостям
                                i.fa.fa-long-arrow-right
                            .subscribe
                                img(src="img/simpson.png")
                                input(type="text",placeholder="Введите ваш E-Mail")
                                input.btn.btn-salat(type="submit",value="Подписаться на новости")
        include _footer
