include _header3
.content.content-mod
    .inner
        .container-fluid
            .row
                .col-md-12
                    .bread-crubms
                        a.bread-crubms-single(href="#")
                            span Главная
                            i.fa.fa-caret-right
                .col-md-12
                    p.p1-el билеты на download fest 2016
            .row
                .col-md-8.sidebar2
                    h2.sidebar__title БИЛЕТЫ НА DOWNLOAD FEST 2016
                    .tickets-block
                        img(src="img/tickets.png")
                        p Auf den Rock‘n’Roll-Campingflächen werden den Besuchern Stromanschlüsse zur gemeinsamen Nutzung zur Verfügung gestellt. Diese Stromanschlüsse befinden sich in maximal 50m Entfernung. Die Versorgung erfolgt dezentral mit vielen kleineren Stromaggregaten und Verteilerkästen. Dadurch werden die mit langen Kabelwegen verbundenen Stolperfallen vermieden und eine hohe Versorgungssicherheit gewährleistet.
                    .tickets-item
                        h5 RUSSIA
                        .tickets-item_block
                            p.p-item-1 Vizit Travel
                            p.p-item-2 Homepage:
                                a.a-item-1(href="#") www.vizit-travel.ru
                            p.p-item-2 E-Mail:
                                a.a-item-2(href="#") vizit@vizittravel.ru
                        .tickets-item_block
                            p.p-item-1 Music Tours Ltd.
                            p.p-item-2 Homepage:
                                a.a-item-1(href="#") www.musictours.su
                            p.p-item-2 E-Mail:
                                a.a-item-2(href="#") info@musictours.club
                    .tickets-item
                        h5 RUSSIA
                        .tickets-item_block
                            p.p-item-1 Vizit Travel
                            p.p-item-2 Homepage:
                                a.a-item-1(href="#") www.vizit-travel.ru
                            p.p-item-2 E-Mail:
                                a.a-item-2(href="#") vizit@vizittravel.ru
                        .tickets-item_block
                            p.p-item-1 Music Tours Ltd.
                            p.p-item-2 Homepage:
                                a.a-item-1(href="#") www.musictours.su
                            p.p-item-2 E-Mail:
                                a.a-item-2(href="#") info@musictours.club
                        .tickets-item_block
                            p.p-item-1 Music Tours Ltd.
                            p.p-item-2 Homepage:
                                a.a-item-1(href="#") www.musictours.su
                            p.p-item-2 E-Mail:
                                a.a-item-2(href="#") info@musictours.club
                    .tickets-item
                        h5 RUSSIA
                        .tickets-item_block
                            p.p-item-1 Vizit Travel
                            p.p-item-2 Homepage:
                                a.a-item-1(href="#") www.vizit-travel.ru
                            p.p-item-2 E-Mail:
                                a.a-item-2(href="#") vizit@vizittravel.ru
                        .tickets-item_block
                            p.p-item-1 Music Tours Ltd.
                            p.p-item-2 Homepage:
                                a.a-item-1(href="#") www.musictours.su
                            p.p-item-2 E-Mail:
                                a.a-item-2(href="#") info@musictours.club
                    .tickets-item
                        h5 RUSSIA
                        .tickets-item_block
                            p.p-item-1 Vizit Travel
                            p.p-item-2 Homepage:
                                a.a-item-1(href="#") www.vizit-travel.ru
                            p.p-item-2 E-Mail:
                                a.a-item-2(href="#") vizit@vizittravel.ru
                        .tickets-item_block
                            p.p-item-1 Music Tours Ltd.
                            p.p-item-2 Homepage:
                                a.a-item-1(href="#") www.musictours.su
                            p.p-item-2 E-Mail:
                                a.a-item-2(href="#") info@musictours.club
                        .tickets-item_block
                            p.p-item-1 Vizit Travel
                            p.p-item-2 Homepage:
                                a.a-item-1(href="#") www.vizit-travel.ru
                            p.p-item-2 E-Mail:
                                a.a-item-2(href="#") vizit@vizittravel.ru
                        .tickets-item_block
                            p.p-item-1 Music Tours Ltd.
                            p.p-item-2 Homepage:
                                a.a-item-1(href="#") www.musictours.su
                            p.p-item-2 E-Mail:
                                a.a-item-2(href="#") info@musictours.club
                .col-md-4.sidebar2
                    h2.sidebar__title НОВОСТИ
                    div.sidebar__news
                        .sidebar__new
                            .sidebar__new__date 14.05.15
                            a(href="#")
                                h3
                                    | RAM
                                    i.fa.fa-angle-right
                                    | Green Day примут участие в фестивале!
                            a(href="#")
                                p Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket für alle Festivalbesucher, die ein Erlebnis der besonderen Art suchen. Ihr Camp grenzt an die Hauptbühnen.
                        .sidebar__new
                            .sidebar__new__date 14.05.15
                            a(href="#")
                                h3
                                    | RAM
                                    i.fa.fa-angle-right
                                    | Green Day примут участие в фестивале!
                            a(href="#")
                                p Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket für alle Festivalbesucher, die ein Erlebnis der besonderen Art suchen. Ihr Camp grenzt an die Hauptbühnen.
                        .sidebar__new
                            .sidebar__new__date 14.05.15
                            a(href="#")
                                h3
                                    | RAM
                                    i.fa.fa-angle-right
                                    | Green Day примут участие в фестивале!
                            a(href="#")
                                p Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket für alle Festivalbesucher, die ein Erlebnis der besonderen Art suchen. Ihr Camp grenzt an die Hauptbühnen.
                        .sidebar__new
                            .sidebar__new__date 14.05.15
                            a(href="#")
                                h3
                                    | RAM
                                    i.fa.fa-angle-right
                                    | Green Day примут участие в фестивале!
                            a(href="#")
                                p Die ROCK AM RING EXPERIENCE ist ein Feelgood-Paket für alle Festivalbesucher, die ein Erlebnis der besonderen Art suchen. Ihr Camp grenzt an die Hauptbühnen.
                    a.btn.btn-grey(href="#")
                        span Перейти ко всем новостям
                        i.fa.fa-long-arrow-right
                    .subscribe
                        img(src="img/simpson.png")
                        input(type="text",placeholder="Введите ваш E-Mail")
                        input.btn.btn-salat(type="submit",value="Подписаться на новости")
include _footer