include _header
.elemets-bg
    .inner
        .block-ty
            p.p-ty
                span Заявка отправлена.
                br
                Мы свяжемся с Вами в ближайшее время.
        h2.h2-elements детальные страницы фестиваля
        .block-feedback
            a.btn.btn-feedback.btn-like(href="#")
                i.fa.fa-thumbs-up
                span 1342
            a.btn.btn-feedback.btn-dis(href="#")
                i.fa.fa-thumbs-down
                span 1342
        .block-likes
            a.btn.btn-refresh(href="#")
                i.fa.fa-retweet
            a.btn.btn-likes.btn-likes_vk(href="#")
                i.fa.fa-vk
                span 36
            a.btn.btn-likes.btn-likes_fb(href="#")
                i.fa.fa-facebook
                span 36
            a.btn.btn-likes.btn-likes_tw(href="#")
                i.fa.fa-twitter
                span 36
        .block-views
            .block-views__item
                i.fa.fa-eye
                span 1 256 105
             .block-views__item
                 i.fa.fa-comment
                 span 6 105
        .bread-crubms
            a.bread-crubms-single(href="#")
                span Главная
                i.fa.fa-caret-right
            .bread-crubms-multi
                a.bread-crubms-single(href="#")
                    span Главная
                    i.fa.fa-caret-right
                a.bread-crubms-single(href="#")
                    span Фестивали
                    i.fa.fa-caret-right
                a.bread-crubms-single(href="#")
                    span Download Fest 2016


